<div *ngIf="cv">
  <div>
    <img [src]="(filleData$ | async)" *ngIf="(filleData$ | async)">
  </div>

  <input
    style="display: none"
    type="file"
    (change)="onFileSelected($event)"
    #fileInput>
  <button type="button" (click)="fileInput.click()">Select Photo</button>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>User Name</mat-label>
    <input matInput placeholder="User Name" [(ngModel)]="cv.userName" >
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Last Name" [(ngModel)]="cv.lastName" >
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Ex. Pizza" [(ngModel)]="cv.email" >
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Site</mat-label>
    <input matInput placeholder="Ex. Pizza" [(ngModel)]="cv.site" >
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Phone</mat-label>
    <input matInput placeholder="Ex. Pizza" [(ngModel)]="cv.phone" >
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Code</mat-label>
    <input matInput placeholder="Ex. Pizza" [(ngModel)]="cv.code" >
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Country</mat-label>
    <input matInput placeholder="Ex. Pizza" [(ngModel)]="cv.country" >
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>City</mat-label>
    <input matInput placeholder="Ex. Pizza" [(ngModel)]="cv.city" >
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Street</mat-label>
    <input matInput placeholder="Ex. Pizza" [(ngModel)]="cv.street" >
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Required Position</mat-label>
    <input matInput placeholder="Ex. Pizza" [(ngModel)]="cv.requiredPosition" >
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Birth Date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Birth Date</mat-label>
    <input matInput placeholder="Ex. Pizza" [(ngModel)]="cv.birthDate" >
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>picture</mat-label>
    <input matInput placeholder="picture" [(ngModel)]="cv.picture" >
  </mat-form-field>

</div>

<button (click)="onCLick()">asdasd</button>
