<div class="menu">
  <div class="menu-list">
    <mat-list>
      <div class="label">
        <img src="assets/label.jpg" alt="label" />
      </div>
      <div class="user-content">
        <div class="user-picture img">
          <img src="assets/face.jpg" alt="user picture" />
        </div>
        <ul class="user-atrr">
          <li class="user-name">{{ accountService.getStoreName() }}</li>
          <li class="user-role">
            {{
              accountService.getStoreRole()
                ? accountService.getStoreRole()
                : "User"
            }}
          </li>
        </ul>
      </div>
      <mat-divider class="first-divider"></mat-divider>
      <div
        mat-menu-item
        *ngIf="btnSwitcher('create') | async"
        [routerLink]="['/home/cv/create']"
      >
        <div class="mat-menu-item-inner">
          <mat-icon>post_add</mat-icon>
          <span>Create a CV </span>
        </div>
      </div>
      <div
        *ngIf="btnSwitcher('home') | async"
        mat-menu-item
        routerLink="/home/cv/user-list"
      >
        <div class="mat-menu-item-inner">
          <mat-icon>home</mat-icon>
          <span>Show all CVs</span>
        </div>
      </div>
      <mat-divider
        *ngIf="btnSwitcher('edit') | async"
        class="second-divider"
      ></mat-divider>
      <div
        *ngIf="btnSwitcher('edit') | async"
        mat-menu-item
        routerLink="/home/cv/edit/{{ id }}"
      >
      <div class="mat-menu-item-inner">
        <mat-icon>edit</mat-icon>
        <span>Edit CV</span>
      </div>
        
      </div>
      <div
        *ngIf="btnSwitcher('menu-list') | async"
        mat-menu-item
        [routerLink]="['/home/cv/create/']"
        [queryParams]="{ userId: id }"
      >
      <div class="mat-menu-item-inner">
          <mat-icon>file_copy</mat-icon>
        <span>Copy and edit</span>
      </div>
      </div>
      <div
        *ngIf="btnSwitcher('menu-list') | async"
        mat-menu-item
        (click)="deleteResume(id)"
      >
      <div class="mat-menu-item-inner">
         <mat-icon>delete_forever</mat-icon>
        <span>Delete</span>
      </div>
      </div>
      <mat-divider
        *ngIf="btnSwitcher('edit') | async"
        class="three-divider"
      ></mat-divider>
      <div
        *ngIf="btnSwitcher('menu-list') | async"
        mat-menu-item
        (click)="savePdf(id, firstName, lastName)"
      >
      <div class="mat-menu-item-inner">
          <mat-icon>picture_as_pdf</mat-icon>
        <span>Save PDF</span>
      </div>
      </div>
      <div
        *ngIf="btnSwitcher('menu-list') | async"
        mat-menu-item
        (click)="saveDocX()"
        class="docx"
      >
      <div class="mat-menu-item-inner">
          <mat-icon>description</mat-icon>
        <span>Save DocX</span>
      </div>
      </div>

      <mat-divider class="last-divider"></mat-divider>
      <div class="menu-btn-wrapper">
        <button mat-menu-item class="logout" color="warn" (click)="logout()">
          Logout
        </button>
      </div>
    </mat-list>
  </div>
</div>
