.title-section {
  display: flex;
  // justify-content: space-between;
  flex-direction: column;

  .title {
    h1 {
      margin-bottom: 20px;
    }

    span {
      display: block;
      color: #8A92A6;
      font-size: 1.2em;
    }

    span.status {
      color: #1AA053;
      font-weight: 500;
    }


    .client-section {
      display: flex;
      gap: 10px;
      margin-bottom: 1.8rem;

      mat-icon {
        color: #8A92A6;
      }

      mat-icon:hover {
        opacity: .8;
        cursor: pointer;
      }
    }
  }

  .actions {
    display: flex;
    padding-bottom: 1.34375em;
    column-gap: 2rem;

    button {
        width: 6.4rem;
        height: 5.2rem;
    }
  }

}

::ng-deep .mat-tooltip.tooltip {
  font-size: 1.6rem;
  font-family: 'Inter';
}
// /////////////////////////////@at-root

:host::ng-deep {
  table {
    th {
      font-size: 1.4rem;

    }
  }

  .search-block {
    display: flex;
    flex: 1 1 100%;

    button {
      height: 5.1rem;
      margin-right: 2.7rem;
    }

    mat-form-field {
      flex: 1 1 100%;
    }
  }

  .filter-block {
    column-gap: 2rem;
    display: flex;
    justify-content: space-between;

    mat-form-field {
      flex: 1 1 100%;
    }
  }
}

.proposal-list {
  .configuration {
   display: flex;
   align-items: center;
  }

  .mat-sort-header-container {
    justify-content: center;
  }

  .table-wrapper {
    padding: 24px;
    padding-right: 1.5rem;
    padding-top: 0;
    // box-shadow: 0 10px 13px rgba(17, 38, 146, 0.05);
    background: white;



    .title-section {
      button {
       height: 5.1rem;
      }
    }

    h1 {
      font-weight: 700;
      line-height: 130%;
      color: #04040b;
      // margin-bottom: 60px;
      margin-right: 3rem;
    }
  }

  .loading-shade {
   position: fixed;
   height: 100vh;
   width: 100vw;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;

    .rate-limit-reached {
        max-width: 360px;
        text-align: center;
    }
}
}

// //////////////////////////////////////
.example-container {
  height: 400px;
  overflow: auto;
}

.mat-table-sticky {
  background: #59abfd;
  opacity: 1;
}

.example-sticky-toggle-group {
  margin: 8px;
}

.mat-column-filler {
  padding: 0 8px;
  font-size: 10px;
  text-align: center;
}

.mat-header-cell,
.mat-footer-cell,
.mat-cell {
  min-width: 80px;
  box-sizing: border-box;
}

.mat-header-row,
.mat-footer-row,
.mat-row {
  min-width: 1000px;
  /* 24 columns, 80px each */
}

.mat-table-sticky-border-elem-top {
  border-bottom: 2px solid midnightblue;
}

.mat-table-sticky-border-elem-right {
  border-left: 2px solid midnightblue;
}

.mat-table-sticky-border-elem-bottom {
  border-top: 2px solid midnightblue;
}

.mat-table-sticky-border-elem-left {
  border-right: 2px solid midnightblue;
}

.section-table {

    // height:75vh;
    // @media(max-height:880px){
    //   height:65vh;
    // }
    // @media(max-height:730px){
    //   height:55vh;
    // }
    // @media(max-height:580px){
    //   height:50vh;
    // }
      border: 1px solid rgba(0, 0, 0, 0.12);
      min-width: 100%;
      overflow: auto;
    
}

table {
  max-width: 100%;
  width: 100%;
  min-width: 1400px;
}

.mat-table-sticky:first-child {
  background-color: #fff;

  &.mat-table-sticky-border-elem-left {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    // border-left: 1px solid rgba(0, 0, 0, 0.12);
  }
}

mat-button-toggle:first-child {
  display: none;
  border: none;
}

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.mat-button-toggle-group-appearance-standard {
  border-left: solid 1px transparent;

}

// ///////////////////////////////////////
.btn-wrapper {
  width: 16rem;
  padding: .5rem 1rem;

  & button {
width: 100%;

  }
}

::ng-deep .mat-tooltip.tooltip {
  font-size: 1.6rem;
  font-family: 'Inter';
}

td:first-child{
  width: 6rem;
}

.menu-item-name{
  // display: block;
  // padding-left: 2rem;
  text-align: center;
}

.step-to-proposal{
  font-size: 1.6rem;
  width: 20rem;
  position: absolute;
  right: 15px;
  /* left: 117px; */
  top: 13.2rem;
  display: flex;
  align-items: center;
  mat-icon{
    font-size: 2rem;
    line-height: 1.2;
  }
}