<div class="proposal-page" *ngIf="proposal">
  <div class="resume-list">
    <div class="table-page">
      <div class="title-section">
        <div class="title">
          <h1>Proposal {{proposal.proposalName}}</h1>
          <span class="status">Status: {{getStatusProposal(proposal.statusProposal)}}</span>
          <div class="client-section">
            <span>
              {{proposal.client?.firstName}} {{proposal.client?.lastName}}
            </span>
            <mat-icon matTooltip="Copy client login link" matTooltipCLass="tooltip" (click)="copyClientLink()">
              content_copy</mat-icon>
          </div>
        </div>
        <div class="actions">
          <button mat-raised-button (click)="openProposalDialog()">
            <mat-icon>settings</mat-icon>
          </button>
          <button mat-raised-button (click)="openResumeDialog()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <table mat-table [dataSource]="proposal.resumes" class="mat-elevation-z8">


        <ng-container matColumnDef="resumeName">
          <th mat-header-cell *matHeaderCellDef>Resume Name</th>
          <td mat-cell *matCellDef="let resume"> {{resume.resumeName}} </td>
        </ng-container>


        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef>Full name</th>
          <td mat-cell *matCellDef="let resume"> {{resume.firstName}} {{resume.lastName}}</td>
        </ng-container>

        <ng-container matColumnDef="skills">
          <th mat-header-cell *matHeaderCellDef>Skills</th>
          <td mat-cell *matCellDef="let resume">
            <div *ngIf="resume.skills.length > 0"><span
                *ngFor="let skill of resume.skills, let i=index">{{skill.name}}{{i === resume.skills.length - 1 ? '' :
                ', '}} </span>
            </div>
            <div *ngIf="resume.skills.length <= 0"><span>None</span></div>
          </td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>Position</th>
          <td mat-cell *matCellDef="let resume">
            {{resume.positionName}}
          </td>
        </ng-container>

        <ng-container matColumnDef="salaryRate">
          <th mat-header-cell *matHeaderCellDef>Salary rate</th>
          <td mat-cell *matCellDef="let resume">
            {{resume.salaryRate}}$/h
          </td>
        </ng-container>

        <ng-container matColumnDef="isSelected">
          <th mat-header-cell *matHeaderCellDef>Is Selected</th>
          <td mat-cell *matCellDef="let resume">
            <mat-icon *ngIf="resume.statusResume == StatusResume.Selected">check</mat-icon>
            <mat-icon *ngIf="resume.statusResume == StatusResume.NotSelected">close</mat-icon>
            <span *ngIf="resume.statusResume == StatusResume.Denied">Denied</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="th-action">Action</th>
          <td mat-cell *matCellDef="let resume">
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu  #menu="matMenu">
              <div class="btn-wrapper"><button  class="download"  mat-stroked-button (click)="getPdf(resume)">Download PDF</button></div>
              <div class="btn-wrapper"><button  class="copy-link-pdf" mat-stroked-button (click)="getLinkPdf(resume)">Copy link PDF </button></div>
              <div class="btn-wrapper"><button  class="docx"  mat-stroked-button (click)="getDocx(resume)">DocX</button></div>
              <div class="btn-wrapper"><button  class="docx"  mat-stroked-button (click)="getLinkDocx(resume)">Copy link DocX</button></div>
              <div class="btn-wrapper"><button  class="open"  mat-stroked-button  routerLink="{{url}}{{proposal.id}}/resume/{{resume.id}}">Open resume</button></div>
              <div class="btn-wrapper"><button  class="copy-link-resume"  mat-stroked-button  (click)="copyResumeLink(resume)">Copy link resume</button></div>
              <div *ngIf="showEditBtn" class="btn-wrapper"><button  class="edit-resume"  mat-stroked-button  routerLink="{{url}}{{proposal.id}}/resume/edit/{{resume.id}}">Edit resume</button></div>
              <div class="btn-wrapper"><button  class="delete" mat-stroked-button  (click)="deleteResume(resume)">Remove</button></div>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>
</div>