<div class="proposal-page" *ngIf="proposal">
  <div class="proposal-list">
    <div class="table-wrapper">
      <div class="table-page">
        <div class="back-btn__wrapper">
          <button
            mat-raised-button
            class="back-btn"
            routerLink="../"
          >
            <mat-icon>arrow_back_ios</mat-icon>
            Back to Proposals
          </button>
        </div>
        <div class="title-section">
          <div class="title">
            <h1>Proposal {{ proposal.proposalName }}</h1>
            <span class="status"
            >Status: {{ getStatusProposal(proposal.statusProposal) }}</span
            >
            <div class="client-section">
              <span>
                {{ proposal.client?.firstName }} {{ proposal.client?.lastName }}
              </span>
              <mat-icon
                (click)="copyClientLink()"
                matTooltip="Copy client login link"
              >content_copy
              </mat-icon
              >
            </div>
          </div>
          <div class="actions">
            <button
              mat-raised-button
              (click)="openResumeDialog()"
              matTooltip="Add new resume to proposal"
              matTooltipPosition="before"
            >
              <mat-icon>add</mat-icon>
            </button>
            <button
              mat-raised-button
              (click)="openProposalDialog()"
              matTooltip="Proposal setting"
              matTooltipPosition="before"
            >
              <mat-icon>settings</mat-icon>
            </button>
            <button *ngIf="!showEditBtn" mat-raised-button
                    (click)="recoverProposal()" matTooltip='Recover proposal (change status In Review)'
                    matTooltipPosition="after">
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
        </div>
        <div class="hidden-mat-btn-group">
          <!-- Sticky Columns: -->
          <mat-button-toggle-group
            multiple
            [value]="['action']"
            #stickyColumns="matButtonToggleGroup"
            class="example-sticky-toggle-group"
          >
            <mat-button-toggle
              *ngFor="let item of displayedColumns"
              [hidden]="true"
              [value]="item"
            ></mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <section class="section-table">
          <table
            mat-table
            [dataSource]="proposal.resumes"
            class="mat-elevation-z8"
          >
            <ng-container [sticky]="isSticky(stickyColumns, 'action')" matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef class="th-action"></th>
              <td mat-cell *matCellDef="let resume">
                <button mat-button [matMenuTriggerFor]="menu" matTooltip="Actions" matTooltipPosition="before">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <a mat-menu-item routerLink="{{ url }}{{ proposal.id }}/resume/{{resume.id}}"
                     matTooltip="View resume" matTooltipPosition="before">
                    <mat-icon>visibility</mat-icon>
                    <span>View</span>
                  </a>
                  <a *ngIf="showEditBtn" mat-menu-item
                     routerLink="{{ url }}{{ proposal.id }}/resume/edit/{{resume.id}}"
                     matTooltip="Edit resume" matTooltipPosition="before">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </a>
                  <mat-divider></mat-divider>
                  <button mat-menu-item [matMenuTriggerFor]="pdfLinks"
                          matTooltip="Resume pdf links" matTooltipPosition="before">
                    <mat-icon>picture_as_pdf</mat-icon>
                    <span>PDF</span>
                  </button>

                  <mat-menu #pdfLinks="matMenu">
                    <button class="custom-menu-item" mat-menu-item
                            (click)="getPdf(resume)"
                            matTooltip="Download resume pdf" matTooltipPosition="before">
                      <mat-icon>picture_as_pdf</mat-icon>
                      <span>PDF</span>
                    </button>
                    <mat-divider></mat-divider>

                    <button mat-menu-item (click)="getLinkPdf(resume)"
                            matTooltip="Copy anonym without logo resume link" matTooltipPosition="after">
                      <mat-icon>picture_as_pdf</mat-icon>
                      <span>Copy PDF link</span>
                    </button>

                  </mat-menu>

                  <button mat-menu-item [matMenuTriggerFor]="resumeLink"
                          matTooltip="Resume links" matTooltipPosition="before">
                    <mat-icon>content_copy</mat-icon>
                    <span>Resume Links</span>
                  </button>
                  <mat-menu #resumeLink="matMenu">
                    <button mat-menu-item (click)="copyResumeLink(resume)"
                            matTooltip="Copy full resume link" matTooltipPosition="after">
                      <mat-icon>content_copy</mat-icon>
                      <span>Link Resume</span>
                    </button>
                  </mat-menu>

                  <button mat-menu-item [matMenuTriggerFor]="docxLink"
                          matTooltip="Download resume Docx" matTooltipPosition="before">
                    <mat-icon>description</mat-icon>
                    <span>DocX</span>
                  </button>

                  <mat-menu #docxLink="matMenu">
                    <button mat-menu-item (click)="getDocx(resume)"
                            matTooltip="Download resume Docx" matTooltipPosition="before">
                      <mat-icon>description</mat-icon>
                      <span>DocX</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item (click)="getLinkDocx(resume)"
                            matTooltip="Copy full resume link" matTooltipPosition="after">
                      <mat-icon>description</mat-icon>
                      <span>Copy DOCX Link</span>
                    </button>


                  </mat-menu>

                  <mat-divider></mat-divider>
                  <div (click)="deleteResume(resume)" class="btn-wrapper" mat-menu-item
                       matTooltip="Remove resume from proposal" matTooltipPosition="before">
                    <mat-icon>delete</mat-icon>
                    <span class="menu-item-name">Remove Resume</span>
                  </div>
                </mat-menu>
              </td>
            </ng-container>

            <ng-container matColumnDef="resumeName">
              <th mat-header-cell *matHeaderCellDef>Resume Name</th>
              <td mat-cell *matCellDef="let resume">{{ resume.resumeName }}</td>
            </ng-container>

            <ng-container matColumnDef="fullName">
              <th mat-header-cell *matHeaderCellDef>Full name</th>
              <td mat-cell *matCellDef="let resume">
                {{ resume.firstName }} {{ resume.lastName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="skills">
              <th mat-header-cell *matHeaderCellDef>Skills</th>
              <td mat-cell *matCellDef="let resume">
                <div *ngIf="resume.skills.length > 0">
                  <span *ngFor="let skill of resume.skills; let i = index">
                    {{ skill.name
                    }}{{ i === resume.skills.length - 1 ? "" : ", " }}
                  </span>
                </div>
                <div *ngIf="resume.skills.length <= 0"><span>None</span></div>
              </td>
            </ng-container>

            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>Position</th>
              <td mat-cell *matCellDef="let resume">
                {{ resume.positionName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="salaryRate">
              <th mat-header-cell *matHeaderCellDef>Salary rate</th>
              <td mat-cell *matCellDef="let resume">
                {{ resume.salaryRate }}$/h
              </td>
            </ng-container>

            <ng-container matColumnDef="isSelected">
              <th mat-header-cell *matHeaderCellDef>Is Selected</th>
              <td mat-cell *matCellDef="let resume">
                <mat-icon *ngIf="resume.statusResume == StatusResume.Selected"
                >check
                </mat-icon
                >
                <mat-icon
                  *ngIf="resume.statusResume == StatusResume.NotSelected"
                >close
                </mat-icon
                >
                <span *ngIf="resume.statusResume == StatusResume.Denied"
                >Denied</span
                >
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </section>
      </div>
    </div>
  </div>
</div>
