.resume-wrapper {
  //overflow: hidden;
  height: 100%;
  width: 100%;


  .resumeDiv {
    padding: 0 0 15px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

}

.fixed-btn{
  position: fixed;
  z-index: 3;
  right: 4rem;
  top: 10rem;
}
