.resume-wrapper {
  //overflow: hidden;
  height: 100%;
  width: 100%;

  .resumeDiv {
    height: 96vh;
    overflow-y: auto;
    padding: 0 0 15px 0;
    display: flex;
    justify-content: center;
  }
}

.actions-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  z-index: 3;
  right: 2rem;
  top: 2rem;
}
