<cv-loader *ngIf="isLoading"></cv-loader>
<div class="resume-list">
  <div class="table-wrapper">
    <div class="title-section">
      <div class="left-block">
        <h1>{{ tableHeader }}</h1>

        <div class="search-block">
          <button *ngIf="isShowAddButton && (userRole == UserRole.Admin || userRole == UserRole.HR)" mat-raised-button
                  routerLink="/admin/resume/create" matTooltip="Create a new resume" matTooltipPosition="before">
            <mat-icon>add</mat-icon>
          </button>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Search...</mat-label>
            <input type="tel" matInput placeholder="" [formControl]="searchControl"/>
            <mat-icon class="zoom-icon" matSuffix>search</mat-icon>
          </mat-form-field>
        </div>

        <div class="filter-block ">

          <mat-form-field appearance="fill">
            <mat-label>Position filter</mat-label>
            <mat-select [formControl]="positionControl" multiple="true" #positionMultiSelect>
              <mat-option>
                <ngx-mat-select-search [formControl]="positionFilterControl" placeholderLabel="Search..." noEntriesFoundLabel="no matching found">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let position of filteredPositionsMulti | async" [value]="position.positionId">
                {{ position.positionName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Skills filter</mat-label>
            <mat-select [formControl]="skillsControl" multiple="true" #skillMultiSelect>
              <mat-option>
                <ngx-mat-select-search [formControl]="skillFilterControl" placeholderLabel="Search..." noEntriesFoundLabel="no matching found">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let skill of filteredSkillsMulti | async" [value]="skill.id">
                {{ skill.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Clients filter</mat-label>
            <mat-select [formControl]="clientsControl" multiple="true" #clientMultiSelect>
              <mat-option>
                <ngx-mat-select-search [formControl]="clientFilterControl" placeholderLabel="Search..." noEntriesFoundLabel="no matching found">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let client of filteredClientsMulti | async" [value]="client.id">
                {{ client.fullName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Status filter</mat-label>
            <mat-select [formControl]="statusControl" multiple="true" #statusMultiSelect disableOptionCentering>
              <mat-option *ngFor="let status of filteredStatusesMulti | async" [value]="status.id">
                {{ status.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="hidden-mat-btn-group">
      <!-- Sticky Columns: -->
      <mat-button-toggle-group multiple [value]="['action']"
                               #stickyColumns="matButtonToggleGroup" class="example-sticky-toggle-group">
        <mat-button-toggle *ngFor="let item of displayedColumns" [hidden]="true" [value]="item"></mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <section class="section-table">
      <table mat-table [dataSource]="resumes" class="mat-elevation-z8" matSort matSortActive="" matSortDirection="">
        <ng-container matColumnDef="action" [sticky]="isSticky(stickyColumns, 'action')">
          <th mat-header-cell *matHeaderCellDef class="th-action"></th>
          <td mat-cell *matCellDef="let resume">
            <button mat-button [matMenuTriggerFor]="menu" matTooltip="Actions" matTooltipPosition="before">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu class="menu-list" #menu="matMenu">
              <a mat-menu-item routerLink="{{ url }}/resume/{{ resume.id }}"
                 matTooltip="View resume" matTooltipPosition="before">
                <mat-icon>visibility</mat-icon>
                <span>View</span>
              </a>
              <a mat-menu-item *ngIf="resume.deletedAt === null
              && (userRole == UserRole.Admin || userRole == UserRole.HR || this.userRole == UserRole.Sale && resume?.createdBy?.userId == this.userId)"
                 routerLink="{{ url }}resume/edit/{{ resume.id }}"
                 matTooltip="Edit resume" matTooltipPosition="before">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </a>
              <a mat-menu-item *ngIf="resume.deletedAt === null" (click)="duplicate(resume)"
                 matTooltip="Edit resume" matTooltipPosition="before">
                <mat-icon>file_copy</mat-icon>
                <span>Copy and edit</span>
              </a>
              <mat-divider></mat-divider>
              <button mat-menu-item [matMenuTriggerFor]="pdfLinks" *ngIf="resume.deletedAt === null"
                      matTooltip="Resume pdf links" matTooltipPosition="before">
                <mat-icon>picture_as_pdf</mat-icon>
                <span>PDF</span>
              </button>

              <mat-menu #pdfLinks="matMenu">
                <button class="custom-menu-item" mat-menu-item
                        (click)="getResumePdfByUrl(resume,resume.shortUrlFullResume)"
                        matTooltip="Download resume pdf" matTooltipPosition="before">
                  <mat-icon>picture_as_pdf</mat-icon>
                  <span>Resume Origin</span>
                </button>
                <button class="custom-menu-item" mat-menu-item
                        (click)="getResumePdfByUrl(resume, resume.shortUrlIncognito)"
                        matTooltip="Download anonym resume pdf" matTooltipPosition="before">
                  <mat-icon>picture_as_pdf</mat-icon>
                  <span>Resume Anonym</span>
                </button>
                <button class="custom-menu-item" mat-menu-item
                        (click)="getResumePdfByUrl(resume,resume.shortUrlIncognitoWithoutLogo)"
                        matTooltip="Download anonym without resume pdf" matTooltipPosition="before">
                  <mat-icon>picture_as_pdf</mat-icon>
                  <span>Resume Anonym without logo</span>
                </button>

              </mat-menu>

              <button mat-menu-item [matMenuTriggerFor]="resumeLink"
                      matTooltip="Resume links" matTooltipPosition="before">
                <mat-icon>content_copy</mat-icon>
                <span>Resume Links</span>
              </button>
              <mat-menu #resumeLink="matMenu">
                <button mat-menu-item (click)="copyResumeLink(resume.shortUrlFullResume)"
                        matTooltip="Copy full resume link" matTooltipPosition="after">
                  <mat-icon>content_copy</mat-icon>
                  <span>Full Resume</span>
                </button>

                <button mat-menu-item (click)="copyResumeLink(resume.shortUrlIncognito)"
                        matTooltip="Copy anonym resume link" matTooltipPosition="after">
                  <mat-icon>content_copy</mat-icon>
                  <span>Anonym Resume</span>
                </button>

                <button mat-menu-item (click)="copyResumeLink(resume.shortUrlIncognitoWithoutLogo)"
                        matTooltip="Copy anonym without logo resume link" matTooltipPosition="after">
                  <mat-icon>content_copy</mat-icon>
                  <span>Anonym without logo</span>
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="copyResumePdfLink(resume.shortUrlFullResume)"
                        matTooltip="Copy full resume link" matTooltipPosition="after">
                  <mat-icon>picture_as_pdf</mat-icon>
                  <span>Copy link to origin</span>
                </button>

                <button
                  mat-menu-item
                  (click)="copyResumePdfLink(resume.shortUrlIncognito)"
                  matTooltip="Copy anonym resume link"
                  matTooltipPosition="after"
                >
                  <mat-icon>picture_as_pdf</mat-icon>
                  <span>Copy link to anonym</span>
                </button>

                <button mat-menu-item (click)="copyResumePdfLink(resume.shortUrlIncognitoWithoutLogo)"
                        matTooltip="Copy anonym without logo resume link" matTooltipPosition="after">
                  <mat-icon>picture_as_pdf</mat-icon>
                  <span>Copy link to anonym without logo</span>
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="copyResumeDocxLink(resume.shortUrlFullResume)"
                        matTooltip="Copy full resume link" matTooltipPosition="after">
                  <mat-icon>description</mat-icon>
                  <span>Copy link to origin</span>
                </button>

                <button mat-menu-item (click)="copyResumeDocxLink(resume.shortUrlIncognito)"
                        matTooltip="Copy anonym resume link" matTooltipPosition="after">
                  <mat-icon>description</mat-icon>
                  <span>Copy link to anonym</span>
                </button>

                <button mat-menu-item (click)="copyResumeDocxLink(resume.shortUrlIncognitoWithoutLogo)"
                        matTooltip="Copy anonym without logo resume link" matTooltipPosition="after">
                  <mat-icon>description</mat-icon>
                  <span>Copy link to anonym without logo</span>
                </button>
              </mat-menu>

              <button mat-menu-item [matMenuTriggerFor]="docxLink"
                      matTooltip="Download resume Docx" matTooltipPosition="before">
                <mat-icon>description</mat-icon>
                <span>DocX</span>
              </button>

              <mat-menu #docxLink="matMenu">
                <button class="custom-menu-item" mat-menu-item
                        (click)="getResumeDocxByUrl(resume,resume.shortUrlFullResume)"
                        matTooltip="Download resume pdf" matTooltipPosition="before">
                  <mat-icon>description</mat-icon>
                  <span>Resume Origin</span>
                </button>
                <button class="custom-menu-item" mat-menu-item
                        (click)="getResumeDocxByUrl(resume, resume.shortUrlIncognito)"
                        matTooltip="Download anonym resume pdf" matTooltipPosition="before">
                  <mat-icon>description</mat-icon>
                  <span>Resume Anonym</span>
                </button>
                <button class="custom-menu-item" mat-menu-item
                        (click)="getResumeDocxByUrl(resume,resume.shortUrlIncognitoWithoutLogo)"
                        matTooltip="Download anonym without resume pdf" matTooltipPosition="before">
                  <mat-icon>description</mat-icon>
                  <span>Resume Anonym without logo</span>
                </button>

              </mat-menu>
              <mat-divider *ngIf="userRole == UserRole.Admin || userRole == UserRole.HR"></mat-divider>
              <button mat-menu-item *ngIf="resume.deletedAt === null && (userRole == UserRole.Admin || userRole == UserRole.HR || this.userRole == UserRole.Sale && resume?.createdBy?.userId == this.userId);"
                      (click)="deleteResume(resume)"
                      matTooltip="Delete resume" matTooltipPosition="before">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>

              <ng-template>
                <button mat-menu-item (click)="recoverResume(resume)" *ngIf="resume.deletedAt != null && (userRole == UserRole.Admin || userRole == UserRole.HR)"
                        matTooltip="Recover resume" matTooltipPosition="before">
                  <mat-icon>refresh</mat-icon>
                  <span>Recover</span>
                </button>
              </ng-template>

              <a mat-menu-item *ngIf="userRole == UserRole.Admin"
                     routerLink="{{resume.id}}/history"
                      matTooltip="Show resume history" matTooltipPosition="before">
                <mat-icon>history</mat-icon>
                <span>Resume history</span>
              </a>
            </mat-menu>
          </td>
        </ng-container>

        <ng-container matColumnDef="name" [sticky]="isSticky(stickyColumns, 'name')">
          <th mat-header-cell *matHeaderCellDef mat-sort-header
              matTooltip="Sort by full name" matTooltipPosition="above">
            Name
          </th>
          <td mat-cell *matCellDef="let resume">
            <div class="resume-name">
              <!--              <div class="name-owner" *ngIf="resume.owner != null; else ownerNone">{{ resume.owner?.firstName }} {{ resume.owner?.lastName }}</div>-->
              <!--              <ng-template #ownerNone>-->
              <div class="name-owner">
                {{resume.firstName}}  {{resume.lastName}}
              </div>
              <!--              </ng-template>-->
              <div class="name-created">Created
                by {{ resume.createdBy?.firstName }} {{ resume.createdBy?.lastName }}</div>
            </div>
          </td>
        </ng-container>


        <ng-container matColumnDef="position" [sticky]="isSticky(stickyColumns, 'position')">
          <th mat-header-cell *matHeaderCellDef
              matTooltip="Sort by position" matTooltipPosition="above">
            Position
          </th>
          <td mat-cell *matCellDef="let resume">
            {{ resume.positionName ?? "None" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="skills" [sticky]="isSticky(stickyColumns, 'skills')">
          <th mat-header-cell *matHeaderCellDef>Skills</th>
          <td mat-cell *matCellDef="let resume">
            <span *ngFor="let skill of resume.skills; let i = index">
              {{ skill.name }}{{ i === resume.skills.length - 1 ? "" : ", " }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="clients" [sticky]="isSticky(stickyColumns, 'clients')">
          <th mat-header-cell *matHeaderCellDef>Clients</th>
          <td mat-cell *matCellDef="let resume">
            <span *ngFor="let client of resume.clients; let i = index">
              <span>{{ client.firstName }} {{ client.lastName }}</span>
              {{ i === resume.clients.length - 1 ? "" : ", " }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="salaryRate" [sticky]="isSticky(stickyColumns, 'salaryRate')">
          <th mat-header-cell *matHeaderCellDef mat-sort-header
              matTooltip="Sort by salary rate" matTooltipPosition="above">
            Salary Rate
          </th>
          <td mat-cell *matCellDef="let resume">
            {{ resume.salaryRate ?? "None" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="loading" [sticky]="isSticky(stickyColumns, 'loading')">
          <th mat-header-cell *matHeaderCellDef>Loading, %</th>
          <td mat-cell *matCellDef="let resume">75%</td>
        </ng-container>

        <ng-container matColumnDef="status" [sticky]="isSticky(stickyColumns, 'status')"
        >
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let resume">
            {{ getAvailabilityStatusLabel(resume.availabilityStatus) }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </section>

    <mat-paginator
      [length]="resumesCount"
      [pageSize]="30"
      aria-label="Select page of table"
    ></mat-paginator>
  </div>
</div>

<ngx-spinner size="medium" type="ball-circus" [fullScreen]="true"></ngx-spinner>
