<div class="back-btn__wrapper">
  <button mat-raised-button class="back-btn" routerLink="../../">
    <mat-icon>arrow_back_ios</mat-icon>
    Back to Resume List
  </button>
</div>
<div class="container" *ngIf="resume && resumeForm">

  <div class="container-inner" [formGroup]="resumeForm">

<!--    <cv-resume-builder-editor *ngIf="isLiveEdit"-->
<!--                              [resumeForm]="resumeForm" [resume]="resume" [resumeChanged]="resumeChanged"-->
<!--                              [templatedChanged]="templateChanged"></cv-resume-builder-editor>-->

    <div class="wrapper-edit" *ngIf="!isLiveEdit">

      <resume-template-builder [resume]="resume" [resumeChanged]="resumeChanged" [templatedChanged]="templateChanged">
      </resume-template-builder>

      <div class="left-bar">
        <form-bar [resumeForm]="resumeForm" [resume]="resume" [isCreateForm]="false" (templateChange)="changeTemplate($event)">
        </form-bar>
      </div>
    </div>

    <div class="actions">
      <button mat-fab color="primary" aria-label="Example icon button with a delete icon" [disabled]="!resumeForm.valid"
              (click)="submit(resume)">
        <mat-icon>done</mat-icon>
      </button>
<!--      <button *ngIf="isLiveEdit"  mat-fab color="primary" (click)="openResumeSettingDialog()">-->
<!--        <mat-icon>settings</mat-icon>-->
<!--      </button>-->
<!--      <button mat-fab color="primary" (click)="isLiveEdit = !isLiveEdit">-->
<!--        <mat-icon>swap_horiz</mat-icon>-->
<!--      </button>-->

    </div>
  </div>

</div>


<!--<div class="container" *ngIf="resumeDto" [formGroup]="resumeForm">-->

<!--  <resume-template-builder [resume]="resumeDto" [resumeChanged]="resumeChanged" [templatedChanged]="templateChanged" [isCreate]="true"></resume-template-builder>-->

<!--  <div class="resume-create-page">-->
<!--    <div class="left-bar">-->
<!--      <form-bar *ngIf="resumeDto" [resumeForm]="resumeForm" [resume]="resumeForm.value" (templateChange)="changeTemplate($event)"></form-bar>-->
<!--      <div class="action">-->
<!--        <button mat-stroked-button [disabled]="!resumeForm.valid" (click)="submit(resumeForm.value)"  matTooltip="Save" matTooltipPosition="above">Save</button>-->
<!--        <button mat-stroked-button routerLink="/admin/resume"  matTooltip="Cancel" matTooltipPosition="above">Cancel</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
