<div class="wrapper">
	<div class="header-top">
		<div class=" header-user">
			<div class="header__icon-block">
				<div class="header__label">
					<img src="https://www.imgacademy.com/themes/custom/imgacademy/images/helpbox-contact.jpg"
						alt="user icon">
				</div>
			</div>
		</div>
		<div class="header-name">
			<div class="header-name__inner">
				<div class="first-name">Oleksandr</div>
				<div class="last-name">Zolotuhin</div>
			</div>

		</div>
	</div>
	<main class="main">
		<div class="left-side">
			<div class="row">
				<div class="header left-side__header">
					<div class="header__title">
						<span>Education</span>
					</div>
					<div class="header__icon">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="50" height="60" viewBox="0 0 576 512">
							<path fill="#fff"
								d="M112 64h-96c-8.8 0-16 7.2-16 16v352c0 8.8 7.2 16 16 16h96c8.8 0 16-7.2 16-16v-352c0-8.8-7.2-16-16-16zM96 160h-64v-32h64v32z">
							</path>
							<path fill="#fff"
								d="M272 64h-96c-8.8 0-16 7.2-16 16v352c0 8.8 7.2 16 16 16h96c8.8 0 16-7.2 16-16v-352c0-8.8-7.2-16-16-16zM256 160h-64v-32h64v32z">
							</path>
							<path fill="#fff"
								d="M382.544 88.74l-85.732 43.197c-7.858 3.959-11.048 13.629-7.089 21.488l143.989 285.774c3.959 7.859 13.629 11.049 21.488 7.089l85.732-43.196c7.858-3.96 11.048-13.63 7.089-21.487l-143.989-285.775c-3.96-7.859-13.63-11.050-21.488-7.090z">
							</path>
						</svg>
					</div>
				</div>
				<div class="content left-side__content">
					<div class="left-side__inner">
						<ul class="left-side__list side-list">
							<li class="side-list__item ">
								<div class="side-list__header">
									<div class="left-side__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Expedita iure eos ipsam omnis explicabo. Voluptatem dolore, omnis cumque beatae asperiores
										dolorum nulla officiis exercitationem, consequuntur sunt obcaecati pariatur itaque
										ratione.
										Iure fugit, modi omnis minus nihil esse officiis rerum commodi harum sit qui, unde
										delectus fugiat fuga libero? Quam enim ab sed eveniet sunt saepe nostrum atque minima
										impedit consequuntur?</div>
									<div class="left-side__date"><span>2012-2018</span></div>
								</div>
								<div class="side-list__content">
									Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam non possimus labore ut nihil
									qui esse in, quibusdam aperiam laborum sint tempore velit omnis voluptates ex harum. Quod,
									temporibus. Enim.
									Eaque officiis perspiciatis hic repellat aut mollitia dolor id culpa asperiores iusto?
									Repudiandae provident similique ab modi aspernatur magni voluptate quibusdam, sit expedita
									quasi ratione omnis laudantium illum minus aliquid?
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="header left-side__header">
					<div class="header__title">
						<span>Work experience</span>
					</div>
					<div class="header__icon">
						<!-- <svg width="60" height="60" fill="red">
							<use xlink:href="/assets/template/chart.svg#chart"></use>
						</svg> -->
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="60" height="70" viewBox="0 0 576 512">
							<path fill="#fff"
								d="M112 64h-96c-8.8 0-16 7.2-16 16v352c0 8.8 7.2 16 16 16h96c8.8 0 16-7.2 16-16v-352c0-8.8-7.2-16-16-16zM96 160h-64v-32h64v32z">
							</path>
							<path fill="#fff"
								d="M272 64h-96c-8.8 0-16 7.2-16 16v352c0 8.8 7.2 16 16 16h96c8.8 0 16-7.2 16-16v-352c0-8.8-7.2-16-16-16zM256 160h-64v-32h64v32z">
							</path>
							<path fill="#fff"
								d="M382.544 88.74l-85.732 43.197c-7.858 3.959-11.048 13.629-7.089 21.488l143.989 285.774c3.959 7.859 13.629 11.049 21.488 7.089l85.732-43.196c7.858-3.96 11.048-13.63 7.089-21.487l-143.989-285.775c-3.96-7.859-13.63-11.050-21.488-7.090z">
							</path>
						</svg>
					</div>
				</div>
				<div class="content left-side__content">
					<div class="left-side__inner">
						<ul class="left-side__list side-list">
							<li class="side-list__item ">
								<div class="side-list__header">
									<div class="left-side__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Expedita iure eos ipsam omnis explicabo. Voluptatem dolore, omnis cumque beatae asperiores
										dolorum nulla officiis exercitationem, consequuntur sunt obcaecati pariatur itaque
										ratione.
										Iure fugit, modi omnis minus nihil esse officiis rerum commodi harum sit qui, unde
										delectus fugiat fuga libero? Quam enim ab sed eveniet sunt saepe nostrum atque minima
										impedit consequuntur?</div>
									<div class="left-side__date"><span>01/2022-01/2022</span></div>
								</div>
								<div class="left-side__subtext">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est
									dolor voluptates facere ut a? Velit possimus ullam assumenda quidem sed sunt, quisquam nulla
									consectetur in doloremque quam animi expedita. Corrupti!</div>
								<ul class="side-list__content-list">
									<li class="side-list__content-item">
										<span class="line"></span>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, odio aliquid? Neque
										suscipit eos fugiat dolore eligendi natus nisi. Optio et corrupti hic est architecto odio
										nostrum. Eveniet, totam dignissimos?
									</li>
									<li class="side-list__content-item">
										<span class="line"></span>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, odio aliquid? Neque
										suscipit eos fugiat dolore eligendi natus nisi. Optio et corrupti hic est architecto odio
										nostrum. Eveniet, totam dignissimos?
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="right-side">
			<div class="row">
				<div class="header right-side__header">
					<div class="header__icon">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="60" height="70" viewBox="0 0 576 512">
							<path fill="#fff"
								d="M112 64h-96c-8.8 0-16 7.2-16 16v352c0 8.8 7.2 16 16 16h96c8.8 0 16-7.2 16-16v-352c0-8.8-7.2-16-16-16zM96 160h-64v-32h64v32z">
							</path>
							<path fill="#fff"
								d="M272 64h-96c-8.8 0-16 7.2-16 16v352c0 8.8 7.2 16 16 16h96c8.8 0 16-7.2 16-16v-352c0-8.8-7.2-16-16-16zM256 160h-64v-32h64v32z">
							</path>
							<path fill="#fff"
								d="M382.544 88.74l-85.732 43.197c-7.858 3.959-11.048 13.629-7.089 21.488l143.989 285.774c3.959 7.859 13.629 11.049 21.488 7.089l85.732-43.196c7.858-3.96 11.048-13.63 7.089-21.487l-143.989-285.775c-3.96-7.859-13.63-11.050-21.488-7.090z">
							</path>
						</svg>
					</div>
					<div class="header__title">
						<span>COntacts</span>
					</div>
				</div>
				<div class="content right-side__content">
					<div class="right-side__inner">
						<ul class="right-side__list side-list">
							<li class="side-list__item telephone">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="42" height="42"
									viewBox="0 0 768 768">
									<path fill="#37474f"
										d="M640.5 492q13.5 0 22.5 9t9 22.5v111q0 37.5-31.5 37.5-223.5 0-384-160.5t-160.5-384q0-31.5 37.5-31.5h111q13.5 0 22.5 9t9 22.5q0 58.5 18 112.5 6 19.5-7.5 33l-61.5 54q69 144 220.5 217.5l49.5-63q9-9 22.5-9 7.5 0 10.5 1.5 54 18 112.5 18z">
									</path>
								</svg>
								<span>+380939012127</span>
							</li>
							<li class="side-list__item mail">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="40" height="30"
									viewBox="0 0 768 768">
									<path
										d="M608 224h-448c-35.328 0-64 28.672-64 64v288c0 35.328 28.672 64 64 64h448c35.328 0 64-28.672 64-64v-288c0-35.328-28.672-64-64-64zM298.112 458.112l51.264 44.8c9.76 8.512 22.112 12.736 34.624 12.736s24.864-4.256 34.624-12.736l51.264-44.8-1.184 1.184 116.672 116.672h-402.752l116.672-116.672-1.184-1.184zM160 553.376v-216.096l115.264 100.832-115.264 115.264zM492.736 438.112l115.264-100.832v216l-115.264-115.168zM608 288v6.72l-210.432 184.128c-7.264 6.336-19.872 6.336-27.136 0l-210.432-184.128v-6.72h448z">
									</path>
								</svg>
								<span>qwerty@gmail.com</span>
							</li>
							<li class="side-list__item location">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="55"
									viewBox="0 0 76 76">
									<path fill="#37474f"
										d="M384 367.5q33 0 56.25-23.25t23.25-56.25-23.25-56.25-56.25-23.25-56.25 23.25-23.25 56.25 23.25 56.25 56.25 23.25zM384 64.5q93 0 158.25 65.25t65.25 158.25q0 46.5-23.25 106.5t-56.25 112.5-65.25 98.25-54.75 72.75l-24 25.5q-9-10.5-24-27.75t-54-69-68.25-100.5-53.25-110.25-24-108q0-93 65.25-158.25t158.25-65.25z">
									</path>
								</svg>
								<span>Kharkiv</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="header right-side__header">
					<div class="header__icon">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 512 512">
							<path fill="#fff"
								d="M256 0c-141.385 0-256 114.615-256 256s114.615 256 256 256 256-114.615 256-256-114.615-256-256-256zM256 480.001c-31.479 0-61.436-6.506-88.615-18.226l116.574-131.145c2.603-2.929 4.041-6.711 4.041-10.63v-48c0-8.837-7.163-16-16-16-56.495 0-116.102-58.731-116.687-59.313-3-3.001-7.070-4.687-11.313-4.687h-64c-8.836 0-16 7.164-16 16v96c0 6.061 3.424 11.601 8.845 14.311l55.155 27.578v93.943c-58.026-40.478-96-107.716-96-183.832 0-34.357 7.745-66.903 21.569-96h58.431c4.244 0 8.313-1.686 11.314-4.686l64-64c3-3.001 4.686-7.070 4.686-11.314v-38.706c20.281-6.037 41.759-9.294 64-9.294 35.203 0 68.502 8.13 98.141 22.6-2.072 1.751-4.088 3.582-6.023 5.518-18.133 18.132-28.118 42.239-28.118 67.882s9.985 49.75 28.118 67.882c18.217 18.216 42.609 28.132 67.817 28.13 1.583 0 3.171-0.040 4.759-0.118 6.907 25.901 19.376 93.328-4.202 186.167-0.222 0.872-0.348 1.744-0.421 2.612-40.662 41.54-97.35 67.328-160.071 67.328z">
							</path>
						</svg>
					</div>
					<div class="header__title">
						<span>Languages</span>
					</div>

				</div>
				<div class="content right-side__content">
					<div class="right-side__inner">
						<div class="right-side__age">Age:<span>17</span></div>
						<div class="right-side__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
							Necessitatibus tempora nostrum voluptatum fuga ab aut cum adipisci explicabo incidunt omnis.
							Ratione ex vero soluta praesentium, aliquid pariatur nesciunt nisi sunt!
							Dolorum voluptates animi quae ea sint quos quas excepturi necessitatibus numquam aperiam ipsum
							corporis quo dignissimos, deleniti a delectus quod iste voluptatibus dolor optio illo libero atque.
							Reprehenderit, repellat. Dolore!</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="header right-side__header">
					<div class="header__icon">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100" height="70" viewBox="0 0 1024 1024">
							<path fill="#fff"
								d="M552.229 928v0 0c32.281 39.088 81.117 64 135.771 64 97.202 0 176-78.798 176-176 0-68.395-39.013-127.678-96-156.809v-371.191l-192-224h-351.912c-35.395 0-64.088 28.747-64.088 64.235v735.531c0 35.476 28.51 64.235 63.918 64.235h328.312zM531.191 896h-307.192c-17.448 0-31.999-14.262-31.999-31.855v-736.291c0-17.286 14.264-31.855 31.858-31.855h320.142v159.811c0 35.82 28.624 64.189 63.933 64.189h128.067v326.625c-15.259-4.316-31.36-6.625-48-6.625-97.202 0-176 78.798-176 176 0 28.807 6.921 55.998 19.191 80v0 0zM576 112l150.398 176h-118.503c-17.475 0-31.896-14.453-31.896-32.281v-143.719zM688 960v0c-79.529 0-144-64.471-144-144s64.471-144 144-144c79.529 0 144 64.471 144 144s-64.471 144-144 144zM640 800v32h32v32h-32v32h96v-32h-32v-64h-64zM672 736v32h32v-32h-32z">
							</path>
						</svg>
					</div>
					<div class="header__title">
						<span>Skills</span>
					</div>

				</div>
				<div class="content right-side__content">
					<div class="right-side__inner">
						<div class="right-side__age">Age:<span>17</span></div>
						<div class="right-side__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
							Necessitatibus tempora nostrum voluptatum fuga ab aut cum adipisci explicabo incidunt omnis.
							Ratione ex vero soluta praesentium, aliquid pariatur nesciunt nisi sunt!
							Dolorum voluptates animi quae ea sint quos quas excepturi necessitatibus numquam aperiam ipsum
							corporis quo dignissimos, deleniti a delectus quod iste voluptatibus dolor optio illo libero atque.
							Reprehenderit, repellat. Dolore!</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="header right-side__header">
					<div class="header__icon">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="50" height="60" viewBox="0 0 1024 1024">
							<path fill="#fff"
								d="M480 256h-128v672h480v-672h-16.15c-26.427 0-47.85-21.306-47.85-48 0-26.51 21.667-48 47.85-48h16.15v-32h-560.238c-44.052 0-79.762 35.509-79.762 80v624.017c0 53.010 42.986 95.983 95.814 95.983h32.186v-672h-48.212c-26.436 0-47.788-21.49-47.788-48 0-26.694 21.395-48 47.788-48h480.212c0 0-16 23.572-16 47.154s16 48.846 16 48.846h-80v384l-96-96-96 96v-384zM512 256v307.199l64-64 64 64v-307.199h-128z">
							</path>
						</svg>
					</div>
					<div class="header__title">
						<span>COurses</span>
					</div>

				</div>
				<div class="content right-side__content">
					<div class="right-side__inner">
						<ul class="right-side__list">
							<li class="side-list__item">
								<div class="side-list__item-title">WEB ACADEEMY</div>
								<div class="side-list__item-contem">WEB ACADEEMY</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</main>
</div>