<div   class="wrapper cv">
	<div class="row parent-row">
		<div class="col left">
			<div class="left-inner">
				<div class="photo">
					<img *ngIf="getFormControlValue('picture') == undefined; else image" src="assets/avatar.jpg" alt="user photo">
          <ng-template #image>
          <img src="{{getFormControlValue('picture')}}" alt="user photo">
          </ng-template>
          <div *ngIf="getFormControlValue('firstName')" class="user-name left-block-content"><span>
							{{getFormControlValue('firstName')}}&nbsp;{{getFormControlValue('lastName')}}
						</span>
					</div>
				</div>
				<div class="user-description">
					<div class="user-position">
						<span class="left-block-content">{{getFormControlValue('requiredPosition')}}</span>
					</div>
					<div *ngIf="getFormControlValue('aboutMe')" class="about-me">
						<div class="about-me__title  blue-line">
							<span class="title-white">ABOuT me</span>
						</div>
						<div class="about-me__text left-block-content">
							{{getFormControlValue('aboutMe')}}
						</div>
					</div>
					<div *ngIf="getFormControlValue('country')||getFormControlValue('city')||getFormControlValue('street')"
						class="contact">
						<div class="contact__title blue-line">
							<span class=" title-white">CONTACT</span>
						</div>
						<div class="contact__content">
							<ul class="contact__content-inner left-block-content">
								<li class="contact__content-row">
									<div class="contact__content-icon mini-blue-line">
										<fa-icon style="color:#fff;font-size:2rem" [icon]="faMapMarkerAlt"></fa-icon>
									</div>
									<ul class="contact__content-text">
										<li *ngIf="getFormControlValue('country')">
											{{getFormControlValue('country')}}
										</li>
										<li *ngIf="getFormControlValue('city')">
											{{getFormControlValue('city')}}</li>
										<li *ngIf="getFormControlValue('street')">
											{{getFormControlValue('street')}}
										</li>
									</ul>
								</li>
								<li *ngIf="getFormControlValue('phone')" class="contact__content-row">
									<div class="contact__content-icon mini-blue-line">
										<fa-icon style="color:#fff;font-size:2rem" [icon]="faMobileAlt"></fa-icon>
									</div>
									<ul class="contact__content-text">
										<li>{{getFormControlValue('phone')}}</li>
									</ul>
								</li>
								<li *ngIf="getFormControlValue('email')" class="contact__content-row">
									<div class="contact__content-icon mini-blue-line">
										<fa-icon style="color:#fff;font-size:2rem" [icon]="faAt"></fa-icon>
									</div>
									<ul class="contact__content-text">
										<li>{{getFormControlValue('email')}}</li>
									</ul>
								</li>
								<li *ngIf="getFormControlValue('site')" class="contact__content-row">
									<div class="contact__content-icon mini-blue-line">
										<fa-icon style="color:#fff;font-size:2rem" [icon]="faGlobe"></fa-icon>
									</div>
									<ul class="contact__content-text">
										<li>{{getFormControlValue('site')}}</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div *ngIf="getFormControlValue('skills')?.length" class="skill padding-right">
						<div class="skills__title  blue-line">
							<span class="title-white">SKILLS</span>
						</div>
						<div class="skills__content padding-right">
							<div class="contact__content-inner skills-inner">
									<div *ngFor="let skill of getFormControlValue('skills')" class="spiner">
										<mat-progress-spinner [color]="'red'" [value]="skill.level*33.333" [diameter]="50"
											[strokeWidth]="5"></mat-progress-spinner>
										<div class="spiner-skill">
											{{skill.skillName}}
										</div>
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="getFormControlValue('languages')?.length" class="skill padding-right">
						<div class="skills__title  blue-line">
							<span class="title-white">language</span>
						</div>
						<div class="skills__content padding-right">
							<div class="contact__content-inner skills-inner">
									<div *ngFor="let language of getFormControlValue('languages')" class="spiner">
										<mat-progress-spinner [color]="'red'" [value]="language.level*25" [diameter]="50"
											[strokeWidth]="5"></mat-progress-spinner>
										<div class="spiner-skill">
											{{language.languageName}}
										</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
		<div class="col right">
			<div class="right-inner">
				<div *ngIf="getFormControlValue('educations')?.length" class="row">
					<div class="education__title  gray-line">
						<span class="title-black ">EDUCATION</span>
					</div>
					<ul class="right-list">
						<li *ngFor="let education of getFormControlValue('educations')" class="right-list__item">
							<div class="right-row right-item__row">
								<ul class="right__column right-item__column">
									<li class="right-item__name right-item__title">{{education.institutionName}}</li>
									<li class="right-item__specialization right-item__title">{{education.specialization}}</li>
									<li class="right-item__date right-item__title">
										({{education.startDate|date:"MM/yyyy"}}-{{education.endDate|date:"MM/yyyy"}})</li>
									<li class="right-item__specialization right-item__title">{{education.degree}}</li>
								</ul>
								<div class="right__column">
									<div class="right__column-text">
										{{education.description}}
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div *ngIf="getFormControlValue('experiences')?.length" class="row">
					<div class="education__title  gray-line">
						<span class="title-black ">EXPERINCE</span>
					</div>
					<ul class="right-list">
						<li *ngFor="let experiences of getFormControlValue('experiences')" class="right-list__item">
							<div class="right-row right-item__row">
								<ul class="right__column right-item__column">
									<li class="right-item__company right-item__title">{{experiences.company}}</li>
									<li class="right-item__position right-item__title">{{experiences.position}}</li>
									<li class="right-item__date right-item__title">
										({{experiences.startDate|date:"MM/yyyy"}}-{{experiences.endDate|date:"MM/yyyy"}})</li>

								</ul>
								<div class="right__column">
									<div class="right__column-text">
										{{experiences.description}}
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div *ngIf="null" class="row">
					<div class="education__title  gray-line">
						<span class=" title-black">AWARD</span>
					</div>
					<ul class="right-list">
						<li class="right-list__item">
							<div class="right-row right-item__row">
								<div class="right__column right-item__column">
									<div class="right-item__title">LOREM IPSUM</div>
									<div class="right-item__subtitle">(1199-1111)</div>
								</div>
								<div class="right__column">
									<div class="right__column-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
										Consequuntur, tempore sint! Dolore quo esse rerum commodi impedit corrupti quasi aperiam
										non quam
										id recusandae nemo nulla cumque, expedita error dicta?
										Adipisci iste aperiam maiores quisquam, sint quod hic porro minus ratione velit illum
										optio
										consequuntur voluptatibus cumque provident maxime officia! Recusandae explicabo, corporis
										iste
										natus quis quibusdam dolores quae neque.
										Repudiandae modi beatae tenetur tempore nemo dignissimos deserunt magnam, esse magni
										dolorem
										assumenda, minus sit natus voluptates! Perspiciatis labore harum libero. Consequuntur
										libero
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div *ngIf="null" class="row">
					<div class="education__title  gray-line">
						<span class=" title-black">HOBBIES</span>
					</div>
					<ul class="right-list">
						<li class="right-list__item">
							<div class="right-row right-item__row">
								<div class="right__column right-item__column">
									<div class="right-item__title">LOREM IPSUM</div>
									<div class="right-item__subtitle">(1199-1111)</div>
								</div>
								<div class="right__column">
									<div class="right__column-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
										Consequuntur, tempore sint! Dolore quo esse rerum commodi impedit corrupti quasi aperiam
										non quam
										id recusandae nemo nulla cumque, expedita error dicta?
										Adipisci iste aperiam maiores quisquam, sint quod hic porro minus ratione velit illum
										optio
										consequuntur voluptatibus cumque provident maxime officia! Recusandae explicabo, corporis
										iste
										natus quis quibusdam dolores quae neque.
										Repudiandae modi beatae tenetur tempore nemo dignissimos deserunt magnam, esse magni
										dolorem
										assumenda, minus sit natus voluptates! Perspiciatis labore harum libero. Consequuntur
										libero
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>