.proposal-dialog {
  .content {
    display: grid;
    overflow-y: auto;

    .resume-section {
      mat-form-field {
        width: 100%;
      }
    }

    .checkbox-section {
      display: flex;
      flex-direction: column;
    }

    mat-button-toggle-group {
      justify-content: center;

      mat-button-toggle {
        width: 100%;
      }
    }
  }
}
.resume-section {
  mat-form-field {
    max-height: 25rem;
    overflow-y: auto;
    @media (max-height: 800px) {
      max-height: 15rem;
    }
  }
}
.actions {
  display: flex;
  justify-content: flex-end;
  button {
    width: 10rem;
  }
}

.custom-select-panel {
  .custom-select-item{
    pointer-events: none;
    height: 7em;
  }
  display: flex;
  flex-wrap: wrap;
  mat-option {
    flex: 0 0 50%;
    height: 8em;
  }
  ::ng-deep resume-template-builder {
    @media screen and (max-width: 1650px) {
      #resume {
        zoom: 0.1;
      }
    }
  }
}

