.proposal-dialog {
  .content {
    display: grid;
    overflow-y: auto;

    .resume-section {
      mat-form-field {
        width: 100%;
      }
    }

    .checkbox-section {
      display: flex;
      flex-direction: column;
    }

    mat-button-toggle-group {
      justify-content: center;

      mat-button-toggle {
        width: 100%;
      }
    }
  }
}
.resume-section {
  mat-form-field {
    max-height: 25rem;
    overflow-y: auto;
    @media (max-height: 800px) {
      max-height: 15rem;
    }
  }
}
.actions {
  display: flex;
  justify-content: flex-end;
  button {
    width: 10rem;
  }
}

  mat-option {

}
.mat-option-list{
display: flex;
align-items: center;
li:first-child{
  display: flex;
  align-items: center;
  height: 100%;
  width: 3rem;
  margin-right: 2rem;
}
}
