<div class="proposal-dialog">
  <h1 mat-dialog-title>Create new proposal</h1>
  <div mat-dialog-content class="content">

    <mat-form-field appearance="fill">
      <mat-label>Proposal name</mat-label>
      <input matInput placeholder=".Net Proposal" [(ngModel)]="proposal.proposalName">
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Select Client</mat-label>
      <mat-select [(value)]="proposal.clientId" disableOptionCentering panelClass="mat-select-panel-height">
        <mat-option *ngFor="let client of clients" [value]="client.userId">
          {{client.firstName}} {{client.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select Proposal build</mat-label>
      <mat-select [(value)]="proposal.proposalBuild" (selectionChange)="proposalBuildSelected()" disableOptionCentering
                  panelClass="mat-select-panel-height">
        <mat-option *ngFor="let proposalBuild of proposalBuilds" [value]="proposalBuild">
          {{proposalBuild.projectTypeName}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <div class="resume-section">
      <mat-form-field appearance="fill">
        <mat-label>Resumes</mat-label>
        <mat-chip-list #chipList aria-label="Resume selection">
          <mat-chip
            *ngFor="let resume of selectedResumes"
            (removed)="remove(resume)" (click)="openSalaryDialog(resume)"
            matTooltip="Change salary rate" matTooltipPosition="above">
            {{resume.firstName}} {{resume.lastName}} {{resume.salaryRate}}$/h
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="Select resume"
            #resumeInput
            [formControl]="resumeCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let resume of resumes" [value]="resume">
            <span style="font-weight: bold">{{resume.positionName}} </span>
            {{resume.firstName}}  {{resume.lastName}}
            <span *ngIf="resume.salaryRate">, {{resume.salaryRate}}$/h</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>


    <mat-form-field appearance="fill">
      <mat-label>Select Template</mat-label>
      <mat-select [(value)]="proposal.resumeTemplateId" disableOptionCentering panelClass="mat-select-panel-height">

        <mat-option *ngFor="let template of resumeTemplates" [value]="template.templateId">
          <ul class="mat-option-list">
            <li (click)="showPreview($event,template.templateId)" matTooltip="View template"
                matTooltipPosition="before">
              <img width="20px" height="20px" src="assets/eye.png" alt="eye logo">
            </li>
            <li>{{template.templateName}}</li>
            user-second
          </ul>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="checkbox-section">
      <div>
        <mat-icon *ngIf="!proposal.isIncognito">visibility</mat-icon>
        <mat-icon *ngIf="proposal.isIncognito">visibility_off</mat-icon>
        <mat-slide-toggle [(ngModel)]="proposal.isIncognito">
        <span matTooltip="Hiding contacts and last name in resume for client" matTooltipPosition="after">
          Anonim
        </span>
        </mat-slide-toggle>
      </div>

      <div>
        <mat-icon *ngIf="proposal.showLogo">image</mat-icon>
        <mat-icon *ngIf="!proposal.showLogo">hide_image</mat-icon>
        <mat-slide-toggle [(ngModel)]="proposal.showLogo">
         <span matTooltip="Show footer in resume for client" matTooltipPosition="after">
          Show Logo
        </span>
        </mat-slide-toggle>
      </div>

      <div>
        <mat-icon *ngIf="proposal.showCompanyNames">account_circle</mat-icon>
        <mat-icon *ngIf="!proposal.showCompanyNames">no_accounts</mat-icon>
        <mat-slide-toggle [(ngModel)]="proposal.showCompanyNames">
        <span matTooltip="Show company names in resume for client" matTooltipPosition="after">
          Show company names
        </span>
        </mat-slide-toggle>
      </div>
    </div>
    <div mat-dialog-actions class="actions">
      <button mat-stroked-button (click)="submit()" cdkFocusInitial [disabled]="canCreate()"
              matTooltip="Save" matTooltipPosition="above">Save
      </button>
      <button mat-stroked-button [mat-dialog-close]="false"
              matTooltip="Cancel" matTooltipPosition="above">Cancel
      </button>
    </div>

  </div>

</div>
