<div class="education-dialog" [formGroup]="educationForm">
  <h1 mat-dialog-title *ngIf="typeDialog===DialogType.Create">Add new education</h1>
  <h1 mat-dialog-title *ngIf="typeDialog === DialogType.Edit">Edit education</h1>
  <div mat-dialog-content class="content">

    <mat-form-field appearance="fill">
      <mat-label>Institution Name</mat-label>
      <input matInput placeholder="Oxford" formControlName="institutionName">
      <mat-error *ngIf="educationForm.controls['institutionName'].errors?.['required']">
        Institution Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Specialization</mat-label>
      <input matInput placeholder="Computer Science" formControlName="specialization">
      <mat-error *ngIf="educationForm.controls['specialization'].errors?.['required']">
        Specialization is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Degree</mat-label>
      <input matInput placeholder="Bachelor's" formControlName="degree">
      <mat-error *ngIf="educationForm.controls['degree'].errors?.['required']">
        Degree is required
      </mat-error>
    </mat-form-field>

<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Description</mat-label>-->
<!--      <textarea class="textarea" matInput placeholder="Description" formControlName="description"></textarea>-->
<!--      <mat-error *ngIf="educationForm.controls['description'].errors?.['required']">-->
<!--        Description is required-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->

    <div class="modal-text-editor">
      <quill-editor [modules]="quillModules" formControlName="description" placeholder="Description" class="quill-editor">
      </quill-editor>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Enter start of education</mat-label>
      <input [errorStateMatcher]="matcher" matInput [matDatepicker]="dp!" [max]="maxDate" formControlName="startDate" readonly>
      <mat-hint>MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp startView="multi-year" (monthSelected)="setMonthAndYear($event, dp, 'startDate')"
        panelClass="example-month-picker">
      </mat-datepicker>
      <mat-error *ngIf="educationForm?.controls['startDate']?.hasError('incorrectDate')">
        Incorrect date
      </mat-error>
      
          <mat-error *ngIf="educationForm.controls['startDate'].errors?.['required']">
            Enter date
          </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter end of education</mat-label>
      <input matInput [matDatepicker]="dp1!" [max]="maxDate" formControlName="endDate" readonly>
      <mat-hint>MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
      <mat-datepicker #dp1 startView="multi-year" (monthSelected)="setMonthAndYear($event, dp1,'endDate')"
        panelClass="example-month-picker">
      </mat-datepicker>
          <!-- <mat-error *ngIf="educationForm?.errors.incorrectDate">
            Incorrect date
          </mat-error> -->
          <mat-error *ngIf="educationForm.controls['endDate'].errors?.['required']">
            Enter date
          </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="actions">
    <button mat-stroked-button [mat-dialog-close]="null">Cancel</button>
    <button mat-stroked-button [mat-dialog-close]="educationForm.value" cdkFocusInitial [disabled]="!educationForm.valid">Save</button>
  </div>
</div>
