<cv-loader *ngIf="loading$ | async"></cv-loader>

<div class="main-block">
  <div class="inner">
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <div class="google-btn__wrapper" id="buttonDiv">

      </div>
      <div class="or">
        <span></span>
        <span class="or-text">or</span>
        <span></span>
      </div>

      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <input matInput type="text" placeholder="Email" formControlName="email"/>
            <mat-error *ngIf="loginForm?.get('email')?.errors?.required && loginForm?.get('email')?.touched ">Enter email
            </mat-error>
            <mat-error *ngIf="loginForm?.get('email')?.errors?.email && loginForm?.get('email')?.touched">Enter correct email
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput [type]="type" placeholder="Password" formControlName="password"/>
            <mat-icon *ngIf="type==='password'" matSuffix class="eye" (click)="changeVisiblePassword($event)">visibility</mat-icon>
            <mat-icon *ngIf="type==='text'" matSuffix class="eye" (click)="changeVisiblePassword($event)">visibility_off</mat-icon>
            <mat-error *ngIf="loginForm?.get('password')?.errors?.required && loginForm?.get('password')?.touched">Enter password</mat-error>
            <mat-error *ngIf="loginForm?.get('password')?.errors?.absentDigit && loginForm?.get('password')?.touched&&loginForm?.get('password')?.value.length>=6">Password must have at least one digit</mat-error>
            <mat-error *ngIf="loginForm?.get('password')?.errors?.minlength && loginForm?.get('password')?.touched">
              Enter a password of at least {{loginForm?.get("password")?.errors?.minlength?.requiredLength }} characters
            </mat-error>
          </mat-form-field>
          <div class="button-wrapper">
            <div class="btn-login">
              <button class="submit-btn" [disabled]="loginForm.invalid" type="submit" mat-raised-button matTooltip="Login">
                Login
              </button>
            </div>
            <div class="link-wrapper">
              <a class="link" routerLink="/account/registration" routerLinkActive="active" matTooltip="Create account">Create account</a>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
