<style>
  li {
    list-style-type: none;
  }

  ul {
    margin-left: 0;
    padding-left: 0;
  }

  @media print {
    @page {
      size: A4;
      margin-top: 15px;
    }

    @page :first {
      margin: 0;
    }

    #contacts {
      page-break-inside: avoid;
    }

    .about-me-content {
      widows: 15;
    }

    #experience {
      page-break-inside: avoid;
    }

    li {
      page-break-inside: avoid;
    }
  }

  .wrapper {
    display: flex;
    margin: 0 auto;
    min-height: 297mm;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

  @media print {
    .wrapper {
      box-shadow: none;
    }
  }

  .left {
    flex: 1 1 30%;
    min-height: 100%;
    z-index: 2;
  }

  .left-inner {
    box-shadow: 13px 1px 5px -5px rgba(0, 0, 0, 0.22);
    z-index: 2;
  }

  .photo {
    position: relative;
    width: 100%;
    height: 35rem;
  }

  .photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .user-name {
    position: absolute;
    background-color: rgba(45, 127, 235, 0.5);
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: center;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    text-transform: uppercase;
  }

  .user-name span {
    color: #fff;
    font-size: 2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }

  .first-name {
    opacity: 0.5;
  }

  .left-block-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    white-space: break-spaces;
    word-break: break-word;
  }

  .user-description {
    padding-right: 3.5rem;
  }

  .user-position {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    line-height: 1.2;
  }

  .user-position span {
    color: #000;
    font-weight: bold;
    text-align: center;
    font-size: 3.5rem;
  }

  .title-white {
    font-weight: 700;
    letter-spacing: 3.5px;
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
  }

  .blue-line {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 3.5rem;
    border-top-right-radius: 3.5rem;
    padding-right: 2rem;
    background-color: rgba(45, 127, 235, 0.7);
    height: 5rem;
  }

  .about-me__text {
    padding-left: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .about-me__text::first-letter {
    text-transform: uppercase;
  }

  .contact__content-row {
    display: flex;
    flex: 1 1 100%;
  }

  .contact__content-row:not(:last-child) {
    margin-bottom: 1rem;
  }

  .contact__content-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom-right-radius: 3.5rem;
    border-top-right-radius: 3.5rem;
    padding-right: 1.75rem;
    background-color: rgba(45, 127, 235, 0.7);
    height: 5rem;
    flex: 0 0 25%;
  }

  .contact__content-text {
    padding-left: 1.4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .contact__content-text li {
    font-size: 1.6rem;
  }

  .contact__content-text li:not(:last-child) {
    margin-bottom: 1rem;
  }

  .right {
    flex: 1 1 75%;
    background-color: #fff;
    padding-left: 3.5rem;
    padding-top: 3.5rem;
  }

  .title-black {
    font-weight: 700;
    letter-spacing: 3.5px;
    color: #000;
    font-size: 2.5rem;
  }

  .gray-line {
    background-color: rgba(128, 128, 128, .5);
    padding-left: 1.75rem;
    height: 4.2rem;
    display: flex;
    align-items: center;
    border-top-left-radius: 2.1rem;
    border-bottom-left-radius: 2.1rem;
  }

  .right-list {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    padding-left: 2rem;
  }

  .right-list__item {
    padding-left: 1.75rem;
    border-left: 2px solid rgba(45, 127, 235, 0.5);
    position: relative;
  }

  .right-list__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    transform: translate(-55%, 0%);
    background-color: rgba(45, 127, 235, 1);
  }

  .right-list__item:last-child {
    border-left: 2px solid transparent;
  }

  .right__column:first-child {
    flex: 0 0 25%;
  }

  .right__column:last-child {
    flex: 0 0 75%;
    padding-right: 5rem;
  }

  .right__column-text {
    padding-left: 1rem;
  }

  .right-item__name {
    color: black !important;
    font-weight: bold;
  }

  .right-item__date {
    font-weight: 900;
  }

  .right-item__company {
    color: black !important;
    font-weight: bold;
  }

  .right-item__row {
    padding-bottom: 1.75rem;
    display: flex;
  }

  .right-item__title {
    color: #000;
    line-height: 1.2;
    margin-bottom: 1.2rem;
    padding-right: 1rem;
  }

  .right-item__subtitle {
    color: #000;
    line-height: 1.2;
    font-weight: 700;
  }

  .logo__block {
    display: flex;
    justify-content: end;
    align-items: flex-start;
  }

  .logo__block-img {
    margin-top: -2rem;
    margin-right: 0.5em;
    margin-bottom: 2rem;
  }

  .skills-inner {
    padding: 3px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .skills-inner .skill-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skills-inner .skill-wrapper .circular-chart {
    display: block;
    width: 5rem;
    height: 5rem;
  }

  .skills-inner .skill-wrapper .circle-bg {
    fill: none;
    stroke: grey;
    stroke-width: 3.8;
  }

  .skills-inner .skill-wrapper .circle {
    fill: none;
    stroke-width: 3.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }

  .skills-inner .skill-wrapper .circular-chart.blue .circle {
    stroke: #3c9ee5;
  }

  .skills-inner .skill-wrapper .skill-name {
    text-align: center;
  }

</style>
<!--<div class="wrapper cv">-->
<div class="row wrapper">
  <div class="col left">
    <div class="left-inner">
      <div class="photo">
        <img class="picture" alt="user photo">
        <div class="user-name left-block-content">
          <span class="firstName"></span>
          <span className="lastName"></span>
        </div>
      </div>
      <div class="user-description">
        <div class="user-position">
          <span class="left-block-content requiredPosition"></span>
        </div>
        <div class="about-me">
          <div class="about-me__title  blue-line">
            <span class="title-white">About me</span>
          </div>
          <div class="about-me__text left-block-content aboutMe">
          </div>
        </div>
        <div class="contact">
          <div class="contact__title blue-line">
            <span class=" title-white">CONTACT</span>
          </div>
          <div class="contact__content">
            <ul class="contact__content-inner left-block-content">
              <li class="contact__content-row">
                <div class="contact__content-icon mini-blue-line">
                </div>
                <ul class="contact__content-text">
                  <li class="country">
                  </li>
                  <li class="city">
                  </li>
                  <li class="street">
                  </li>
                </ul>
              </li>
              <li class="contact__content-row">
                <ul class="contact__content-text">
                  <li class="phone"></li>
                </ul>
              </li>
              <li class="contact__content-row">

                <ul class="contact__content-text email">
                </ul>
              </li>
              <li class="contact__content-row">
                <ul class="contact__content-text">
                  <li class="site"></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="skill padding-right">
          <div class="skills__title  blue-line">
            <span class="title-white">SKILLS</span>
          </div>
          <div class="skills__content padding-right">
            <div class="contact__content-inner">
              <ul id="skills" class="active default template-one skills-inner">
                <li class="skill-wrapper">
                  <svg viewBox="0 0 36 36" class="circular-chart blue level">
                    <path class="circle-bg"
                          d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <path class="circle"
                          d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                  </svg>
                  <span class="skill-name skillName"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="skill padding-right">
        <div class="skills__title  blue-line">
          <span class="title-white">language</span>
        </div>
        <div class="skills__content padding-right">
          <div class="contact__content-inner ">
            <ul id="languages" class="skills-inner defatult template-one">
              <li class="skill-wrapper">
                <svg viewBox="0 0 36 36" class="circular-chart blue">
                  <path class="circle-bg"
                        d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                  />
                  <path class="circle"
                        d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                  />
                </svg>
                <span class="skill-name languageName"></span>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col right">
    <div class="right-inner">
      <div class="row">
        <div class="logo__block">
          <div class="logo__block-img">
            <img src="/assets/logo.jpg" alt="logo">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="education__title  gray-line">
          <span class="title-black ">EDUCATION</span>
        </div>
        <ul class="right-list" id="educations">
          <li class="right-list__item">
            <div class="right-row right-item__row">
              <ul class="right__column right-item__column">
                <li class="right-item__name right-item__title institutionName"></li>
                <li class="right-item__date right-item__title" style="font-weight: bold">
                  <span class="startDate"></span>
                  <span class="endDate"></span>
                </li>
                <li class="right-item__specialization right-item__title degree"></li>
              </ul>
              <div class="right__column">
                <div class="right__column-text description">
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="education__title  gray-line">
          <span class="title-black ">EXPERINCE</span>
        </div>
        <ul class="right-list">
          <li id="experience" class="right-list__item">
            <div class="right-row right-item__row">
              <ul class="right__column right-item__column">
                <li class="right-item__company right-item__title company"></li>
                <li class="right-item__position right-item__title position"></li>
                <li class="right-item__date right-item__title">
                  <span class="startDate"></span>
                  <span class="endDate"></span>
              </ul>
              <div class="right__column">
                <div class="right__column-text description">
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
