.container {
  display: flex;
  padding: 15px;
  justify-content: center;
  gap: 2rem;

  .left-bar {
    overflow: hidden auto;
    padding: 30px 30px 0 20px;
    display: flex;
    flex-direction: column;
    background: white;
    // border-radius: 15px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);

    .action {
      display: flex;
      gap: 10px;
      justify-content: flex-end;
      padding: 5px 0;

      button {
        width: 10rem;
      }
    }
  }
}

.back-btn__wrapper{
  display: flex;
  justify-content: center;
  flex: 1 1 100%;
  margin-bottom: .5rem;
}
.back-btn{
  font-size: 1.6rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  mat-icon{
    font-size: 2rem;
    line-height: 1.2;
  }
}
