<div class="container" *ngIf="resumeEditDto">
  <resume-template-builder [resume]="resumeEditDto" [resumeChanged]="resumeChanged" [templatedChanged]="templateChanged"></resume-template-builder>
<div class="edit-page">
  <form class="left-bar">
    <form-bar [resumeForm]="resumeEditForm" [resume]="resumeEditDto" [isCreateForm]="false" (templateChange)="templateChange($event)">
    </form-bar>
    <div class="action">
      <button mat-raised-button color="accent" routerLink="/admin/resume">Cancel</button>
      <button mat-raised-button color="primary" [disabled]="!resumeEditForm.valid" (click)="submit(resumeEditForm.value)">Save</button>
    </div>
  </form>
</div>
</div>
