<div class="contact">

  <div class="contact-description">
    <div><span>Position:</span><input [(ngModel)]="Cv.requiredPosition" type="text"></div>
    <div><span>Country:</span><input [(ngModel)]="Cv.country" type="text"></div>
    <div><span>City:</span><input [(ngModel)]="Cv.city" type="text"></div>
    <div><span>Street:</span><input [(ngModel)]="Cv.street" type="text"></div>
    <div><span>Phone:</span><input [(ngModel)]="Cv.phone" type="text"></div>
    <div><span>Email:</span><input [(ngModel)]="Cv.email" type="text"></div>
    <div><span>Site:</span><input [(ngModel)]="Cv.site" type="text"></div>
  </div>

</div>
<div class="about-me">
  <angular-editor id="about" [(ngModel)]="Cv.aboutMe"></angular-editor>
</div>
