.create-page{
  padding: 30px 30px 0 30px;
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: 1fr;
  .left-bar {
    overflow: hidden auto;
    scrollbar-width: none;

    .action{
      margin: 15px 0;
      display: flex;
      justify-content: flex-end;
    }
  }
    .left-bar::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }

}
