<div class="container">
  <cv-template-two [resumeEditForm]="templateForm"></cv-template-two>

  <div class="create-page">
    <div class="left-bar">
      <cv-cv-create-left-bar *ngIf="resumeCreateDto" [resumeForm]="resumeCreateForm" [resume]="resumeCreateDto"></cv-cv-create-left-bar>
      <div class="action">
        <button mat-raised-button color="primary" [disabled]="!resumeCreateForm.valid"
          (click)="submit(resumeCreateForm.value)">Create</button>
      </div>
    </div>
  </div>
  <!-- <cv-cv-template [resumeEditForm]="templateForm"></cv-cv-template> -->
</div>
