<div class="skill-dialog">
  <h1 mat-dialog-title *ngIf="typeDialog===DialogType.Create">Create new language</h1>
  <h1 mat-dialog-title *ngIf="typeDialog === DialogType.Edit">Edit language</h1>
  <div mat-dialog-content class="content">

    <mat-form-field appearance="fill">
      <mat-label>Language name</mat-label>
      <input matInput placeholder="English" [(ngModel)]="language.name">
    </mat-form-field>


  </div>
  <div mat-dialog-actions class="actions">
    <button mat-button [mat-dialog-close]="language" cdkFocusInitial [disabled]="!canCreate()"
      *ngIf="typeDialog===DialogType.Create">Create</button>
    <button mat-button [mat-dialog-close]="language" cdkFocusInitial [disabled]="!canCreate()"
      *ngIf="typeDialog===DialogType.Edit">Edit</button>
  </div>

</div>