.skill-dialog {
  display: grid;

  .content {
    display: grid;

    mat-button-toggle-group {
      justify-content: center;

      mat-button-toggle {
        width: 100%;
      }

    }
  }

  .actions {
    justify-content: end;
  }
}