<div class="complexity-page">
  <div class="complexity-list">
    <div class="table-page">
      <div class="title-section">
        <h1>Complexities</h1>
        <button mat-raised-button (click)="openComplexityDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <table mat-table [dataSource]="complexities" class="mat-elevation-z8">

        <!-- <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let complexity">{{complexity.id}}.</td>
        </ng-container> -->

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let complexity"> {{complexity.complexityName}} </td>
        </ng-container>


        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="th-action">Action</th>
          <td mat-cell *matCellDef="let complexity">
            <div class="action-wrapper">
              <button class="edit" (click)="openComplexityDialog(complexity)">Edit</button>
              <button class="delete" (click)="deleteComplexity(complexity)">Delete</button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>
</div>
