ul{
  list-style: none;
}

.proposal-build-position-dialog{
  display: grid;
  .content{
    display: grid;

  }
  .actions {
    display: flex;
    justify-content: flex-end;
    button{
      width: 10rem;
    }
  }
}
