<header>
  <div class="header-inner">
    <div class="col">
      <img src="assets/label.jpg" alt="label">
    </div>
    <div class="col">
      <button class="btn btn-left" (click)="getAllCv()">
        <img src="assets/arrow.svg" alt="arrow">
        <span>Previous</span>
      </button>

      <button class="btn btn-right" (click)="nextCv()">
        <img src="assets/arrow.svg" alt="arrow">
        <span>Next</span>
      </button>
    </div>
    <div class="col">
      <button mat-flat-button color="warn" (click)="logout()">Logout</button>
    </div>
  </div>
</header>