<header>
  <div class="header-inner">
    <div class="col">
      <div class="label">
        <img src="assets/label.jpg" alt="label" />
      </div>
    </div>
    <div class="col">
      <div class="col__btns">
        <button *ngIf="btnSwitcher('create') | async" [routerLink]="['/home/cv/create']" mat-raised-button
          color="primary" class="create-resume">
          Create new CV
        </button>
      </div>
    </div>
    <div class="col">
      <div class="user">
        <button class="button-icon" *ngIf="btnSwitcher('back') | async" routerLink="/home/cv/user-list" mat-fab
          color="primary" mat-icon-button>
          <mat-icon>home</mat-icon>
        </button>
        <ul  class="user-icons">
          <li *ngIf="btnSwitcher('menu-list') | async" class="small">
            <button mat-icon-button mat-fab color="primary" [matMenuTriggerFor]="menu" class="button-icon small">
              <mat-icon>format_list_bulleted</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="small">
              <button mat-menu-item class="btn-flex">
                <div class="user-content small">
                  <div class="user-picture img">
                    <img src="assets/face.jpg" alt="user picture" />
                  </div>
                  <ul class="user-atrr">
                    <li class="user-name">{{accountService.getStoreName()}}</li>
                    <li class="user-role">
                      {{
                      accountService.getStoreRole()
                      ? accountService.getStoreRole()
                      : "User"
                      }}
                    </li>
                  </ul>
                </div>
              </button>
              <div class="mat-devider-wrapper-custom">
                <mat-divider></mat-divider>
              </div>

              <button mat-menu-item *ngIf="btnSwitcher('edit') | async" routerLink="/home/cv/edit/{{id}}">
                <mat-icon>edit</mat-icon>
                <span>
                  Edit CV
                </span>
              </button>
                <button mat-menu-item [routerLink]="['/home/cv/create/']" [queryParams]="{ userId: id }">
                  <mat-icon>file_copy</mat-icon>
                  <span>Copy and edit</span>
                </button>
                <button mat-menu-item (click)="deleteResume(id)">
                  <mat-icon>delete_forever</mat-icon>
                  <span>Delete CV</span>
                </button>
                    <div class="mat-devider-wrapper-custom">
                      <mat-divider></mat-divider>
                    </div>
              <button mat-menu-item (click)="savePdf(id, firstName, lastName)">
                <mat-icon>picture_as_pdf</mat-icon>
                <span>Save PDF</span>
              </button>
              <button mat-menu-item (click)="saveDocX(id,firstName,lastName)" class="docx">
                <mat-icon>description</mat-icon>
                <span>Save DocX</span>
              </button>
                <div class="mat-devider-wrapper-custom">
                  <mat-divider></mat-divider>
                </div>
              <div class="menu-btn-wrapper small">
                <button mat-menu-item class="logout-small " color="warn" (click)="logout()">
                  Logout
                </button>
              </div>
            </mat-menu>
          </li>
          <li *ngIf="btnSwitcher('user-cv-list') | async" class="menu-list-home">
            
            <button mat-icon-button mat-fab color="primary" [matMenuTriggerFor]="menu" class="button-icon">
              <mat-icon>format_list_bulleted</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <div class="user-content small">
                  <div class="user-picture img">
                    <img src="assets/face.jpg" alt="user picture" />
                  </div>
                  <ul class="user-atrr">
                    <li class="user-name">{{accountService.getStoreName()}}</li>
                    <li class="user-role">
                      {{
                      accountService.getStoreRole()
                      ? accountService.getStoreRole()
                      : "User"
                      }}
                    </li>
                  </ul>
                </div>
              </button>
              <div class="menu-btn-wrapper">
                <button mat-menu-item class="logout-small small" color="warn" (click)="logout()">
                  Logout
                </button>
              </div>
            </mat-menu>
          </li>
        </ul>
        <!-- <div class="user-content large">
          <div class="user-picture img">
            <img src="assets/face.jpg" alt="user picture" />
          </div>
          <ul class="user-atrr">
            <li class="user-name">{{accountService.getStoreName()}}</li>
            <li class="user-role">
              {{
              accountService.getStoreRole()
              ? accountService.getStoreRole()
              : "User"
              }}
            </li>
          </ul>
        </div> -->
      </div>
      <button class="logout large" mat-flat-button  (click)="logout()">
        Logout
      </button>
    </div>
  </div>
</header>
