<div class="header">
    <div class="container">
      <header>
        <div class="left">

        </div>
        <div class="center">
         <button (click)="getAllCv()">All CV</button>
          <button  (click)="nextCv()"><span class="right-arrow">&#11164;</span>&nbsp;Prev</button>
          <button (click)="nextCv()">Next&nbsp;<span class="right-arrow">&#11166;</span></button>
        </div>
        <div class="right">
          <button (click)="logout()">Logout</button>  
        </div>
      </header>
    </div>
</div>
  &#11164;