.proposal-list {
  min-height: 100%;
  background: #E5E5E5;
  display: grid;
  align-items: start;
  grid-template-columns: 100%;

  // @media (max-width: 1450px) {
  //   & {
  //     grid-template-columns: 15% auto;
  //   }
  //   @media (max-width: 1290px) {
  //     grid-template-columns: 20% auto;

  //   }
  // }

  // .skill-list {
  //   padding: 40px;
  // }


  .table-page {
    padding: 24px;
    box-shadow: 0 10px 13px rgba(17, 38, 146, 0.05);
    // border-radius: 8px;
    background: white;


    .title-section{
      display: flex;
      justify-content: space-between;

      button{
        max-height: 5.2rem;
      }
    }

    .mat-row:hover {
      background: #f1f1f1;
    }

    h1 {
      font-weight: 700;
      line-height: 130%;
      color: #04040B;
      margin-bottom: 60px;
      margin-right: 3rem;
    }

    .left-block{
      display: flex;
      .filter-block {
        display: flex;

        & > * {
          margin-right: 2rem;
        }
      }
    }



    table {
      width: 100%;
      box-shadow: none;
      font-size: 1.1em;

      th {
        text-align: center;
        vertical-align: middle;
        border-bottom: 1px #C4C4C4 solid;
        font-weight: 400;
      }

      td {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-align: center;
        vertical-align: middle;
        font-size: 1em;
        line-height: 28px;
        color: #04040B;
        font-weight: 400;
      }

      .configuration{
        display: flex;
        justify-content: center;
        gap: 10px;

        svg{
          path{
            fill: #E3E3E3;
          }
        }

        svg.selected{
          path{
            fill: #04040B;
          }
        }
      }

      .mat-cell {
        border: 0;
      }

      ::ng-deep .mat-sort-header-container {
        display:flex;
        justify-content:center;
      }


      .mat-header-row {
        height: 0;
      }

      .mat-header-cell {
        font-size: 1em;
        line-height: 28px;
        color: #04040B;
      }


      .action-wrapper {
        display: grid;

        button {
          height: 35px;
          padding: .1rem .1rem;
          color: white;
          border: 0;
          border-radius: 4px;
          min-width: 7.5rem;

          &:hover {
            cursor: pointer;
            opacity: .9;
          }

          &.edit {
            background: #3A57E8;
          }

        }

      }
    }
  }

}
