<script src="proposal-list.component.ts"></script>
<div class="proposal-list">
  <div class="table-wrapper">
    <div class="title-section">
      <div class="left-block">
        <h1>{{tableHeader}}</h1>
        <div class="search-block">
          <button *ngIf="isShowAddButton" mat-raised-button (click)="openProposalDialog()">
            <mat-icon>add</mat-icon>
          </button>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Search...</mat-label>
            <input type="tel" matInput placeholder="" [formControl]="searchControl">
            <mat-icon class="zoom-icon" matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div class="filter-block">

          <mat-form-field appearance="fill">
            <mat-label>Client filter</mat-label>
            <mat-select [formControl]="clientsControl" multiple="true" #clientsMultiSelect>
              <mat-option>
                <ngx-mat-select-search [formControl]="clientFilterControl" placeholderLabel="Search..."
                  noEntriesFoundLabel="no matching found"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let clientItem of filteredClientsMulti | async" [value]="clientItem.userId">
                {{clientItem.fullName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" *ngIf="!hideStatusFiter">
            <mat-label>Status filter</mat-label>
            <mat-select [formControl]="statusesControl" multiple="true" #statusMultiSelect disableOptionCentering>
              <mat-option>
                <ngx-mat-select-search [formControl]="statusesFilterControl" placeholderLabel="Search..."
                  noEntriesFoundLabel="no matching found"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let status of filteredStatusesMulti | async" [value]="status.id">
                {{status.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div>
      <!-- Sticky Columns: -->
      <mat-button-toggle-group multiple [value]="['action']" #stickyColumns="matButtonToggleGroup"
        class="example-sticky-toggle-group">
        <mat-button-toggle *ngFor="let item of displayedColumns" [hidden]="true" [value]="item"></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <section class="section-table">
      <table mat-table [dataSource]="proposals" class="mat-elevation-z8" matSort matSortActive="" matSortDirection="">

        <ng-container [sticky]="isSticky(stickyColumns, 'action')" matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let proposal">
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu class="menu-list" #menu="matMenu">
              <a mat-menu-item routerLink='{{url}}/proposals/{{proposal.id}}'>
                <mat-icon>visibility</mat-icon>
                <span>Open</span>
              </a>
            </mat-menu>
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let proposal">{{proposal.id}}.</td>
        </ng-container>

      <ng-container matColumnDef="proposalName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            matTooltip="Sort by Proposal name" matTooltipPosition="above">Proposal
        </th>
        <td mat-cell *matCellDef="let proposal"> {{proposal.proposalName}} </td>
      </ng-container>

      <ng-container matColumnDef="clientUserName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            matTooltip="Sort by Client name" matTooltipPosition="above">
          For client
        </th>
        <td mat-cell *matCellDef="let proposal"> {{proposal.clientUserName}} </td>
      </ng-container>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>Position</th>
          <td mat-cell *matCellDef="let proposal">
            <div *ngIf="proposal.positions.length > 0"><span
                *ngFor="let position of proposal.positions, let i=index">{{position.positionName}}{{i ===
                proposal.positions.length - 1 ? '' : ', '}} </span>
            </div>
            <div *ngIf="proposal.positions.length <= 0"><span>None</span></div>
          </td>
        </ng-container>

      <ng-container matColumnDef="proposalSize">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            matTooltip="Sort by Proposal size" matTooltipPosition="above">Proposal Size
        </th>
        <td mat-cell *matCellDef="let proposal"> {{proposal.proposalSize}} </td>
      </ng-container>

      <ng-container matColumnDef="configuration">
        <th mat-header-cell *matHeaderCellDef>Configuration</th>
        <td mat-cell *matCellDef="let proposal">
          <div class="configuration">
            <mat-icon [ngClass]="{'selected':proposal.showlogo}"
                      matTooltip="Show footer in resume for client" matTooltipPosition="above">image</mat-icon>
            <mat-icon [ngClass]="{'selected':proposal.showContacts}"
                      matTooltip="Show resume contacts for client" matTooltipPosition="above">face</mat-icon>
            <mat-icon [ngClass]="{'selected':proposal.showCompanyNames}"
                      matTooltip="Show company names in resume for client" matTooltipPosition="above">account_circle</mat-icon>
            <mat-icon [ngClass]="{'selected':proposal.isIncognito}"
                      matTooltip="Hiding last name in resume for client" matTooltipPosition="above">visibility</mat-icon>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="lastUpdated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            matTooltip="Sort by Last Updated" matTooltipPosition="above">Last updated
        </th>
        <td mat-cell *matCellDef="let proposal"> {{proposal.lastUpdated | dateUtcPipe}} </td>
      </ng-container>

      <ng-container matColumnDef="createdUserName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            matTooltip="Sort by Created name" matTooltipPosition="above">Created by
        </th>
        <td mat-cell *matCellDef="let proposal"> {{proposal.createdUserName}} </td>
      </ng-container>

      <ng-container matColumnDef="statusProposal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            matTooltip="Sort by Proposal Status" matTooltipPosition="above">Status Proposal
        </th>
        <td mat-cell *matCellDef="let proposal">
          {{getStatusProposal(proposal.statusProposal)}}
        </td>
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </section>
    <mat-paginator [length]="proposalsCount" [pageSize]="30" aria-label="Select page of table"></mat-paginator>
  </div>
</div>
