<div class="team-build-dialog">
  <h1 mat-dialog-title *ngIf="dialogType == DialogType.Create">Create new team build</h1>
  <h1 mat-dialog-title *ngIf="dialogType == DialogType.Edit">Edit team build</h1>
  <div mat-dialog-content class="content">

    <mat-form-field appearance="fill">
      <mat-label>Project name</mat-label>
      <input matInput placeholder="Landing page" [(ngModel)]="teamBuild.projectTypeName">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Estimation name</mat-label>
      <input matInput placeholder="Landing page" [(ngModel)]="teamBuild.estimationName">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select Complexity</mat-label>
      <mat-select [(value)]="teamBuild.complexity.id" (selectionChange)="complexityChange()">
        <mat-option *ngFor="let complexity of complexities" [value]="complexity.id">
          {{complexity.complexityName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="position-section">
      <mat-card>
        <mat-card-title>Positions</mat-card-title>
        <mat-card-content>
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let position of teamBuild.positions" (removed)="removePosition(position)" (click)="openPositionDialog(position)">
              {{position.positionName}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-raised-button (click)="openPositionDialog()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>



  </div>
  <div mat-dialog-actions class="actions">
    <button mat-button [mat-dialog-close]="teamBuild" cdkFocusInitial [disabled]="!canCreate()" *ngIf="dialogType == DialogType.Create">Create</button>
    <button mat-button [mat-dialog-close]="teamBuild" cdkFocusInitial [disabled]="!canCreate()" *ngIf="dialogType == DialogType.Edit">Edit</button>
  </div>

</div>
