<div [style.padding]="'0px 12px 0px 12px'" class="side-bar">
  <ol class="links">
    <!-- <li class="title-section"><span>Home</span></li>  -->
   <!-- <li><a>
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a></li>-->
    <!-- <mat-divider></mat-divider>  -->
    <li>
      <div class="user-content">
        <div class="user-picture img">
          <img src="assets/face.jpg" alt="user picture" />
        </div>
        <ul class="user-atrr">
          <li class="user-name">{{ accountService.getStoreName() }}</li>
          <li class="user-role">
            {{
              accountService.getStoreRole()
                ? accountService.getStoreRole()
                : "User"
            }}
          </li>
        </ul>
      </div>
      <button mat-stroked-button class="logout"  (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
      <mat-divider class="first-divider"></mat-divider>
    </li>
    <li  [routerLinkActive]="['active']">
      <a routerLink="/admin/resume">
        <mat-icon>list</mat-icon>
        <span>CVs list</span>
      </a>
    </li>
    <li  [routerLinkActive]="['active']">
      <a routerLink="/admin/proposals">
        <mat-icon>inventory</mat-icon>
        <span>Proposals</span>
      </a>
    </li>
    <li [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']">
      <a routerLink="/admin/clients">
        <mat-icon>supervisor_account</mat-icon>
        <span>Clients</span>
      </a>
    </li>
    <li><a>
        <mat-icon>verified_user</mat-icon>
        <span> Resource planning</span>
      </a></li>
    <li class="archive">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>archive</mat-icon>
            <span>Archive</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a  [routerLinkActive]="['active']" routerLink="/admin/archive/proposals">
          <span>Proposals</span>
        </a>
        <a  [routerLinkActive]="['active']" routerLink="/admin/archive/resume">
          <span>Resume</span>
        </a>
      </mat-expansion-panel>
    </li>
    <mat-divider></mat-divider>
    <li class="title-section"><span>Settings</span></li>

    <li class="setting">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <a [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" routerLink="/admin/languages">
          <span>Languages</span>
        </a>
        <a [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" routerLink="/admin/skills">
          <span>Skills</span>
        </a>
        <a [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" routerLink="/admin/positions">
          <span>Positions</span>
        </a>
        <a [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" routerLink="/admin/complexities">
          <span>Complexities</span>
        </a>
        <a [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" routerLink="/admin/templates">
          <span>Resume templates</span>
        </a>
        <a [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']">
          <span>Proposals</span>
        </a>
      </mat-expansion-panel>
    </li>

    <li [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']">
      <a routerLink="/admin/builds">
        <mat-icon>construction</mat-icon>
        <span>Proposal builder</span>
      </a>
    </li>
    <li><a routerLink="/admin/users">
        <mat-icon>manage_accounts</mat-icon>
        <span>Users</span>
      </a></li>
    <mat-divider></mat-divider>
  </ol>
</div>
