<div [style.padding]="'0px 12px 0px 12px'" class="side-bar">
  <ol class="links">
    <li class="title-section"><span>Home</span></li>
    <li><a>
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a></li>
    <mat-divider></mat-divider>
    <li [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']">
      <a routerLink="/admin/resume">
        <mat-icon>groups</mat-icon>
        <span>Resume list</span>
      </a>
    </li>
    <li [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']">
      <a routerLink="/admin/proposals">
        <mat-icon>sports_esports</mat-icon>
        <span>Proposals</span>
      </a>
    </li>
    <li [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']">
      <a routerLink="/admin/clients">
        <mat-icon>supervisor_account</mat-icon>
        <span>Clients</span>
      </a>
    </li>
    <li><a>
        <mat-icon>verified_user</mat-icon>
        <span> Resource planning</span>
      </a></li>
    <li >
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>bookmark</mat-icon>
            <span>Archive</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" routerLink="/admin/archive/proposals">
          <mat-icon>sports_esports</mat-icon>
          <span>Proposals</span>
        </a>
        <a [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" routerLink="/admin/archive/resume">
          <mat-icon>groups</mat-icon>
          <span>Resume list</span>
        </a>
      </mat-expansion-panel>
    </li>
    <mat-divider></mat-divider>
    <li class="title-section"><span>Setting</span></li>

    <li class="setting">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>settings</mat-icon>
            <span>Setting</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <a [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" routerLink="/admin/languages">
          <mat-icon>language</mat-icon>
          <span>Languages</span>
        </a>
        <a [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" routerLink="/admin/skills">
          <mat-icon>settings_accessibility</mat-icon>
          <span>Skills</span>
        </a>
        <a [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" routerLink="/admin/positions">
          <mat-icon>settings_accessibility</mat-icon>
          <span>Positions</span>
        </a>
        <a [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" routerLink="/admin/complexities">
          <mat-icon>settings_accessibility</mat-icon>
          <span>Complexities</span>
        </a>
        <a [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" routerLink="/admin/templates">
          <mat-icon>settings_accessibility</mat-icon>
          <span>Resume templates</span>
        </a>
      </mat-expansion-panel>
    </li>

    <li>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>wallet</mat-icon>
            <span>Proposal setting</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']">
          <mat-icon>sports_esports</mat-icon>
          <span>Proposals</span>
        </a>
      </mat-expansion-panel>
    </li>
    <li [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']">
      <a routerLink="/admin/builds">
        <mat-icon>wallet</mat-icon>
        <span>Proposal builder</span>
      </a>
    </li>
    <li><a>
        <mat-icon>military_tech</mat-icon>
        <span>Roles</span>
      </a></li>
    <mat-divider></mat-divider>
  </ol>
</div>