.side-bar {
  background: white;
  font-size: 1.2em;
  color: #8A92A6;
  overflow: auto;
  height: 100%;

  .links {
    padding: 24px 0;
    display: grid;
    gap: 8px;
    margin: 0;

    .title-section:not(:first-child) {
      margin-top: 15px;
    }

    li span {
      margin-left: 20px;
    }

    & li.active>a {
      background: #3A57E8;
      color: white;
      cursor: pointer;
    }

    a {
      padding: 8px 24px;
      border-radius: 4px;
      display: flex;
      align-items: center;

      span {
        margin: 0;
      }

      &:hover {
        background: #f1f1f1;
        cursor: pointer;
      }



      mat-icon {
        margin-right: 17px;
      }

      mat-icon:last-child {
        margin-left: auto;
        margin-right: 0;
      }
    }

    li.active>.mat-expansion-panel {
      background: #3A57E8;
    }

    li.active>.mat-expansion-panel .mat-expansion-panel-header-title {
      color: white;
    }

    // ::ng-deep .mat-expansion-indicator::after{
    //  color: white;
    //}

    li.active> ::ng-deep .mat-expansion-indicator::after {
      color: white;
    }


    .mat-expansion-panel {
      box-shadow: none;

      &.active {
        background: #3A57E8;
      }

      & .mat-expansion-panel-header {
        padding: 8px 24px;
        height: auto;

        .mat-expansion-panel-header-title {
          color: #8A92A6;
          font-size: 1.1em;
          display: flex;
          align-items: center;

        }
      }

      ::ng-deep .mat-expansion-panel-body {
        padding: 0 0 0 10px;
        background: white;
        color: #8A92A6;

      }




    }
  }
}

.side-bar .links a.active {
  background-color: #3A57E8;
  color: #fff;
}

