<div class="skill-dialog">
  <h1 mat-dialog-title *ngIf="typeDialog===DialogType.Create">Add new skill</h1>
  <h1 mat-dialog-title *ngIf="typeDialog === DialogType.Edit">Edit skill</h1>
  <div mat-dialog-content class="content">

    <mat-form-field class="example-full-width">
      <mat-label>Choose skill</mat-label>
      <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" #input>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option  *ngFor="let option of filteredOptions | async" [value]="option.name" (onSelectionChange)="skillSelected(option)">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>




    <mat-button-toggle-group [(ngModel)]="skill.level">
      <mat-button-toggle class="skill-dialog-toggler" [value]="1">1</mat-button-toggle>
      <mat-button-toggle class="skill-dialog-toggler" [value]="2">2</mat-button-toggle>
      <mat-button-toggle class="skill-dialog-toggler" [value]="3">3</mat-button-toggle>
      <mat-button-toggle class="skill-dialog-toggler" [value]="4">4</mat-button-toggle>
      <mat-button-toggle class="skill-dialog-toggler" [value]="5">5</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div mat-dialog-actions class="actions">
    <button mat-stroked-button [mat-dialog-close]="skill" cdkFocusInitial [disabled]="!canCreate()">Save</button>
    <button mat-stroked-button [mat-dialog-close]="null" >Cancel</button>
  </div>

</div>
