ul{
  list-style-type: none;
 }

.skill-dialog {
  display: grid;

  .mat-dialog-content {
    overflow: hidden;
  }

  .content {
    display: grid;

    mat-button-toggle-group {
      justify-content: center;

      mat-button-toggle {
        width: 100%;
      }

    }
  }

  .actions {
    justify-content: end;
  }
}

.skill-dialog-toggler{
  font-size: 1.6rem;
  font-weight: 700;
  font-family: 'Inter';
}
.actions {
  // margin: 1rem 0;
  display: flex;
  justify-content: flex-end;
  button{
    width: 10rem;
    &:first-child{
      margin-right: 1rem;
    }
  }
  
}