:host-context(.open-side-bar){
  .container-inner {

    @media(max-width:1420px){
      flex-direction: column;
    }
  }
}
.container {
  height: 100vh;
   overflow-y: auto;
  &-inner{
    margin-top: -2rem;
    height: calc(2950px);
    padding-bottom: 3rem;
  display: flex;
  gap: 2rem;
  padding: 15px;
  justify-content: center;

  }

  // height: calc(100vh - 4rem);


  .left-bar {
    overflow: hidden auto;
    padding: 30px 30px 0 20px;
    display: flex;
    flex-direction: column;
    background: white;
    // border-radius: 15px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);

    .action {
      margin: 1rem 0;
      display: flex;
      justify-content: flex-end;
      button{
        width: 10rem;
        &:first-child{
          margin-right: 1rem;
        }
      }

    }
  }
}
resume-template-builder{
  display: block;
  // overflow-y: auto;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);


}

.status-section {
  display: flex;
  flex-direction: column;

  mat-form-field {
    //flex: 1 1 50%;

    &:first-child {
      margin-right: .5rem;
    }

    &:last-child {
      margin-left: .5rem;
    }
  }
}
.select-template-item{
  display: flex;
  align-items: center;
  justify-content: space-between;

  img:hover{
    opacity: .5;
  }
}

:host::ng-deep #resume{
  box-shadow: none !important;

    // padding-bottom: 2rem;
  }
