<div class="container" *ngIf="resumeEditDto && resumeEditForm">
  <div class="container-inner">
       <resume-template-builder [resume]="resumeEditDto" [resumeChanged]="resumeChanged" [templatedChanged]="templateChanged"></resume-template-builder>
  <div class="edit-page">
    <form class="left-bar">
      <form-bar [resumeForm]="resumeEditForm" [resume]="resumeEditDto" [isCreateForm]="false" (templateChange)="templateChange($event)">
      </form-bar>
      <div class="action">
        <button mat-stroked-button [disabled]="!resumeEditForm.valid" (click)="submit(resumeEditForm.value)"  matTooltip="Save" matTooltipPosition="above">Save</button>
        <button mat-stroked-button routerLink="/admin/resume"  matTooltip="Cancel" matTooltipPosition="above">Cancel</button>
      </div>
    </form>
  </div>
  </div>

</div>

