.skill-dialog {
  display: grid;

  .mat-dialog-content {
    overflow: hidden;
  }

  .content {
    display: grid;

    mat-button-toggle-group {
      justify-content: center;

      mat-button-toggle {
        width: 100%;
      }

    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    button{
      width: 10rem;
    }
  }
}

.skill-dialog-toggler{
  font-size: 1.6rem;
  font-weight: 700;
  font-family: 'Inter';
}