.template-page {
  min-height: 100%;
  background: #E5E5E5;
  display: grid;
  align-items: start;
  grid-template-columns: 100%;


.section-table{
  border: 1px solid #e5e5e5;
}
  .table-page {
    padding: 24px;
    padding-top: 0;
    // box-shadow: 0 10px 13px rgba(17, 38, 146, 0.05);
    border-radius: 8px;
    background: white;

    .title-section {
      display: flex;
      margin-bottom: 2rem;
      justify-content: space-between;
      // flex-direction: column;

      button {
        height: 5.2rem;
        width: 6.4rem;
      }
    }

    .mat-row:hover {
      background: #f1f1f1;
    }

    h1 {
      font-weight: 700;
      line-height: 130%;
      color: #04040B;
      // margin-bottom: 60px;
    }

    table {
      width: 100%;
      box-shadow: none;
      font-size: 1.1em;

      th {
        vertical-align: middle;
        border-bottom: 1px #C4C4C4 solid;
        font-weight: 400;
        height: 5rem;
      }

      td {
        vertical-align: middle;
        font-size: 1em;
        line-height: 28px;
        color: #04040B;
        font-weight: 400;

      }

      .mat-cell {
        border: 0;
      }

      .mat-header-row {
        height: 0;
      }

      .mat-header-cell {
        font-size: 1em;
        line-height: 28px;
        color: #04040B;
      }


      .action-wrapper {
        display: grid;
        grid-template-columns: repeat(5,  minmax(6rem,15%));
        justify-content: space-between;

        button {
          height: 35px;
          padding: .1rem .1rem;
          color: white;
          border: 0;
          border-radius: 4px;
          &:not(:first-child){
            margin-left: 0.4rem;
          }

          &:hover {
            cursor: pointer;
            opacity: .9;
          }

          &.edit {
            background: #F16A1B;
          }

          &.delete {
            background: #BA3020E5;
          }
        }

      }
    }
  }

}

