<div class="position-dialog">
  <h1 mat-dialog-title *ngIf="typeDialog===DialogType.Create">Create new position</h1>
  <h1 mat-dialog-title *ngIf="typeDialog === DialogType.Edit">Edit position</h1>
  <div mat-dialog-content class="content">

    <mat-form-field appearance="fill">
      <mat-label>Position name</mat-label>
      <input matInput placeholder="Fullstack" [(ngModel)]="positionDto.positionName">
    </mat-form-field>


  </div>
  <div mat-dialog-actions class="actions">
    <button mat-stroked-button [mat-dialog-close]="positionDto" cdkFocusInitial [disabled]="!canCreate()">Save</button>
    <button mat-stroked-button [mat-dialog-close]="false">Cancel</button>
  </div>
</div>

