@import "./main.scss";

.footer {
  background-color: $backHeaderColor;
  width: 100%;
}
.isFixed {
  position: fixed;
  bottom: 0;
}
footer {
  height: $headerHeight;
  display: flex;
  align-items: center;
  justify-content:space-between;
  color: #fff;
}
