@import "./main.scss";
@import "./nav.scss";

.header {
  background-color: $backHeaderColor;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 111;
}

header {
  height: $headerHeight;
  display: flex;
  align-items: center;
  justify-content:space-between;
  color: $foreHeaderColor;
}

.center {
  display: flex;
}

.auth_block {
  display: flex;
}
