@import "./globals.scss";

.main-block {
  margin: $headerHeight 0 0;
  padding: 60px 0 40px;
  min-height: 77vh;
}
// .container {
//   width: 1200px;
//   margin: auto;
// }
// * {
//   font-size: 18px;
// }
// h1 {
//   font-size: 2rem;
// }
// h2 {
//   font-size: 1.5rem;
// }
// h3 {
//   font-size: 1.2rem;
// }

