.team-dialog{
  .mat-dialog-content{
    overflow: hidden;
  }
  .content{
    mat-form-field{
      width: 100%;
    }

    .checkbox-section{
      display: flex;
      flex-direction: column;
    }
  }
  .actions{
    justify-content: end;
  }
}
