<div class="resume-list">
  <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="rate-limit-reached" *ngIf="isRateLimitReached">
      Database rate limit has been reached. It will be reset in one minute.
    </div>
  </div>
  <cv-admin-resume (refreshResumes)="refreshResumes($event)" [resumes]="resumes" [resumesCount]="resumesCount"
                   [isShowAddButton]="false" [tableHeader]="'Resume archive'" [url]="url" [isArchive]="true">

    <button class="open admin-btn">Open</button>
  </cv-admin-resume>
</div>
