ul{
  list-style: none;
}

.proposal-build-dialog{
  display: grid;
  .content{
    display: grid;

    .position-section{
      margin: 15px 0;

      mat-card{
        box-shadow: none;
      }
    }


  }
  .actions {
    display: flex;
    justify-content: flex-end;
    button{
      width: 10rem;
    }
  }
}
