ul{
  list-style-type: none;
 }
:host::ng-deep {
  table {
    th {
      font-size: 1.4rem;

    }
  }

  .search-block {
    display: flex;
    flex: 1 1 100%;

    button {
      height: 5.1rem;
      margin-right: 2.7rem;
    }

    mat-form-field {
      flex: 1 1 100%;
    }
  }

  .filter-block {
    column-gap: 2rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        @media (max-width: 1050px) {
          flex-wrap: wrap;
        }
        mat-form-field {
          flex: 1 1 100%;
        }
  }
}

.proposal-build-list {

  .mat-sort-header-container {
    justify-content: center;
  }

  .table-wrapper {
    padding: 24px;
    padding-right: 1.5rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    height:calc(100vh - 2rem);
    background: white;



    .title-section {
      button {
        height: 5.1rem;
      }
      margin-bottom: 1.34375em;
    }

    h1 {
      font-weight: 700;
      line-height: 130%;
      color: #04040b;
      // margin-bottom: 60px;
      margin-right: 3rem;
    }
  }

  .loading-shade {
   position: fixed;
   height: 100vh;
   width: 100vw;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;

    .rate-limit-reached {
        max-width: 360px;
        text-align: center;
    }
}
}

// //////////////////////////////////////
.example-container {
  height: 400px;
  overflow: auto;
}

.mat-table-sticky {
  background: #59abfd;
  opacity: 1;
}

.example-sticky-toggle-group {
  margin: 8px;
}

.mat-column-filler {
  padding: 0 8px;
  font-size: 10px;
  text-align: center;
}

.mat-header-cell,
.mat-footer-cell,
.mat-cell {
  min-width: 80px;
  box-sizing: border-box;
}

.mat-header-row,
.mat-footer-row,
.mat-row {
  min-width: 1000px;
  /* 24 columns, 80px each */
}

.mat-table-sticky-border-elem-top {
  border-bottom: 2px solid midnightblue;
}

.mat-table-sticky-border-elem-right {
  border-left: 2px solid midnightblue;
}

.mat-table-sticky-border-elem-bottom {
  border-top: 2px solid midnightblue;
}

.mat-table-sticky-border-elem-left {
  border-right: 2px solid midnightblue;
}

.section-table {
  height:70vh;
    @media(max-height:880px){
      height:63vh;
    }
    @media(max-height:730px){
      height:58vh;
    }
    @media(max-height:650px){
      height:54vh;
    }
    @media(max-height:580px){
      height:50vh;
    }
    @media(max-height:540px){
      height:45vh;
    }
  // border-top: 1px solid rgba(0, 0, 0, 0.12);
  // border-right: 1px solid rgba(0, 0, 0, 0.12);
  // border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(0, 0, 0, 0.12);
  // border-bottom: none;
  min-width: 100%;
  overflow: auto;
}

table {
  max-width: 100%;
  width: 100%;
  min-width: 1400px;
}

.mat-table-sticky:first-child {
  background-color: #fff;

  &.mat-table-sticky-border-elem-left {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    // border-left: 1px solid rgba(0, 0, 0, 0.12);
  }
}

mat-button-toggle:first-child {
  display: none;
  border: none;
}

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.mat-button-toggle-group-appearance-standard {
  border-left: solid 1px transparent;

}

td:first-child{
  width: 6rem;
}