ul{
  list-style-type: none;
 }
.complexity-dialog{
  display: grid;

  .mat-dialog-content{
    overflow: hidden;
  }

  .content{
    display: grid;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    button{
      width: 10rem;
    }
  }
}
