ul li { list-style-type: none; }
.resume-wrapper {
  // overflow: hidden;
  height: 100%;
  width: 100%;


  .resumeDiv {
    padding: 5px 0 15px 0;
    display: flex;
    justify-content: center;
    // height: 96vh;
    // overflow-y: auto;
  }

}

.fixed-btn{
  position: fixed;
  z-index: 3;
  right: 4rem;
  top: 10rem;
}

:host::ng-deep {
  .resumeDiv {
    #resume {
      @media screen and (max-width: 1151px) {
        max-width: 68.5rem;
        zoom: normal;
      }

      @media screen and (max-width: 754px) {
        width: 100%;
        zoom: .95;
      }

      @media screen and (max-width: 700px) {
        width: 100%;
        zoom: .9;
      }

      @media screen and (max-width: 650px) {
        width: 100%;
        zoom: .83;
      }

      @media screen and (max-width: 600px) {
        width: 100%;
        zoom: .76;
      }

      @media screen and (max-width: 550px) {
        width: 100%;
        zoom: .7;
      }

      @media screen and (max-width: 500px) {
        overflow-y: hidden;
        width: 100%;
        zoom: .6;
      }

      @media screen and (max-width: 430px) {
        width: 100%;
        zoom: .5;
      }

      @media screen and (max-width: 380px) {
        width: 100%;
        zoom: .43;
      }

    }
  }
}