<cv-loader *ngIf="loading$ | async"></cv-loader>
<div class="container">
  <header>
    <cv-header></cv-header>
  </header>
  <main class="main">
    <cv-cv-side-bar (refreshTemplate)="refreshTemplate = !refreshTemplate"  [class.width-zero]="!toggle" [class.open-side-bar]="toggle"></cv-cv-side-bar>
      <div [class.open-menu]="toggle" (click)="sideBarToggler()" class="menu-burger__side-bar" matTooltip="{{toggle ? 'Show menu' : 'Hide menu'}}" matTooltipPosition="after">
        <mat-icon>arrow_back_ios_new</mat-icon>
      </div>
    <div [class.change-mode] = "refreshTemplate" [class.open-side-bar--content]="toggle" class="body">
      <router-outlet></router-outlet>
    </div>
  </main>

  <!-- <cv-footer></cv-footer> -->
</div>
