//.wrapper{
//	display: flex;
//	flex-direction: column;
//	max-height: 100%;
//}
//.main{
//	flex: 2 1 100%;
//}

.container {
  width: 100%;
  // min-height: 100%;
  // max-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  // padding-bottom: 8rem;

}

header {
  flex-shrink: 0;
}

.body {
  flex-grow: 1;
  height: calc(100vh - 160px);
  overflow: auto;
  // min-height: 2em;
  background: #cccccc4d;
  // padding-top: 1rem;
  // background-color: #e5e5e5;
}

footer {
  flex-shrink: 0;
  margin-top: 2rem;
  // position: fixed;
  // bottom: 0px;
  // left: 0;
  // right: 0;
  // background-color: red;
  // height: 8rem;
}