.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

header {
  display: none;

  @media (max-width: 600px) {
    display: block;
  }
}

main {
  height: calc(100vh);
  background: #e5e5e5;

  @media (max-width: 700px) {
    height: calc(100vh);
  }

  @media (max-width: 600px) {
    height: calc(100vh - 5rem);
    overflow-y: auto;
  }

  @media (min-width: 600px) {
    display: flex;
  }
}

.body {
  overflow: auto;
  flex: 0 1 100%;
}

cv-cv-cide-bar {
  @media (min-width: 600px) {
    display: block;
  }

  @media (max-width: 600px) {
    display: none;
  }
}

.footer {
  height: 8rem;
}


.btn-toggler {
  font-size: 4rem;
  top: 0;
}

.btn-toggler {
  font-size: 4rem;
  display: flex;
  align-items: flex-start;
  top: 0;
  right: -2rem;
}

.open-side-bar {

  transform: translateX(0%);
  // flex: 0 0 30rem;
  width: 25rem;
  overflow-x: visible;
  visibility: visible;
transition: all .2s ease;
  @media (max-width: 700px) {
    flex: 0 0 10rem;
  }
}

.width-zero {
  transform: translateX(-100%);
  width: 0;
  overflow-x: hidden;
  visibility: hidden;
  transition: all .2s ease;
}

.menu-burger__side-bar {
  background-color: rgb(138, 146, 166);
  // transform: translateX(-100%);
  position: relative;
  width: 3rem;
  height: 4rem;
  border-radius: .5rem;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
  // margin-left: 10px;
  &:hover{
    cursor: pointer;
  }

  mat-icon {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 3rem;
    vertical-align: middle;
    transform: rotate(180deg);
    transition: all .2s ease;
    color: #fff;

  }

  &.open-menu {
    transition: all .2s ease;

    mat-icon {
      transform: rotate(0deg);
      transition: all .2s ease;
    }
  }

  // @media (min-width: 600px) {
  //   background-color: rgb(138, 146, 166);
  //   position: relative;
  //   width: 3rem;
  //   height: 3.5rem;
  //   display: block;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }

  @media (max-width: 600px) {
    display: none;
  }


}

:host{}
