<form [formGroup]="resumeForm">
  <div class="input-group">
    <input id="fileInput" type='file' (change)="onSelectFile($event)">
    <mat-form-field appearance="fill">
      <mat-label>Name resume</mat-label>
      <input matInput placeholder=".NET Junior Developer" formControlName="resumeName">
      <mat-error *ngIf="resumeForm.controls['resumeName'].errors?.['required']">
        Name resume is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="Nikita" formControlName="firstName">
      <mat-error *ngIf="resumeForm.controls['firstName'].errors?.['required']">
        First Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Savchuk" formControlName="lastName">
      <mat-error *ngIf="resumeForm.controls['lastName'].errors?.['required']">
        Last Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select Position</mat-label>
      <mat-select [(value)]="resume.position" formControlName="position" [compareWith]="comparePosition">
        <mat-option *ngFor="let position of positions" [value]="position">
          {{position.positionName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select Template</mat-label>
      <mat-select [(value)]="resume.resumeTemplateId" formControlName="resumeTemplateId"
                  [compareWith]="compareTemplate">
        <mat-option *ngFor="let template of resumeTemplates" [value]="template.templateId">
          {{template.templateName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Date of birth</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthdate">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="resumeForm.controls['birthdate'].errors?.['required']">
        Birthdate is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input email matInput placeholder="example@gmail.com" formControlName="email">
      <mat-error *ngIf="resumeForm.controls['email'].errors?.['email']">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="resumeForm.controls['email'].errors?.['required']">
        Email is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput placeholder="3809600001" formControlName="phone">
      <mat-error *ngIf="resumeForm.controls['phone'].errors?.['required']">
        Phone is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Site</mat-label>
      <input matInput placeholder="github.com" formControlName="site">
      <mat-error *ngIf="resumeForm.controls['site'].errors?.['required']">
        Site is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Postal code</mat-label>
      <input matInput placeholder="29001" formControlName="code">
      <mat-error *ngIf="resumeForm.controls['code'].errors?.['required']">
        Postal code is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Country</mat-label>
      <input matInput placeholder="Ukraine" formControlName="country">
      <mat-error *ngIf="resumeForm.controls['country'].errors?.['required']">
        Country is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <input matInput placeholder="Khmelnytskyi" formControlName="city">
      <mat-error *ngIf="resumeForm.controls['city'].errors?.['required']">
        City is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Street</mat-label>
      <input matInput placeholder="Pushkina 14" formControlName="street">
      <mat-error *ngIf="resumeForm.controls['street'].errors?.['required']">
        Street is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Required Position</mat-label>
      <input matInput placeholder="Junior" formControlName="requiredPosition">
      <mat-error *ngIf="resumeForm.controls['requiredPosition'].errors?.['required']">
        Required Position is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>About me</mat-label>
      <textarea matInput placeholder="I'm Nikita" formControlName="aboutMe"></textarea>
      <mat-error *ngIf="resumeForm.controls['aboutMe'].errors?.['required']">
        About me is required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="skill-section">
    <mat-card>
      <mat-card-title>Skills</mat-card-title>
      <mat-card-content>
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let skill of resume.skills" (removed)="removeSkill(skill)" (click)="openSkillDialog(skill)">
            {{skill.skillName}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-raised-button (click)="openSkillDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="language-section">
    <mat-card>
      <mat-card-title>Language</mat-card-title>
      <mat-card-content>
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let language of resume.languages" (removed)="removeLanguage(language)"
                    (click)="openLanguageDialog(language)">
            {{language.languageName}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-raised-button (click)="openLanguageDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="education-section">
    <mat-card>
      <mat-card-title>Educations</mat-card-title>
      <mat-card-content>
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let education of resume.educations" (removed)="removeEducation(education)"
                    (click)="openEducationDialog(education)">
            {{education.institutionName}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-raised-button (click)="openEducationDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="experience-section">
    <mat-card>
      <mat-card-title>Experiences</mat-card-title>
      <mat-card-content>
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let experience of resume.experiences" (removed)="removeExperience(experience)"
                    (click)="openExperienceDialog(experience)">
            {{experience.company}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-raised-button (click)="openExperienceDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="price-section">
    <mat-form-field appearance="fill">
      <mat-label>Developer's price</mat-label>
      <input specialIsAlphaNumeric type="number" matInput placeholder="100" formControlName="salaryRate">
    </mat-form-field>
  </div>

  <div class="status-section">
    <mat-form-field appearance="fill">
      <mat-label>Availability statuses</mat-label>
      <mat-select [(value)]="resume.availabilityStatus" formControlName="availabilityStatus" disableOptionCentering>
        <mat-option [value]="1">Available</mat-option>
        <mat-option [value]="2">Busy</mat-option>
        <mat-option [value]="3">Partial Available</mat-option>
        <mat-option [value]="4">Very careful available</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Number of days unavailable</mat-label>
      <input type="number" min="0" matInput placeholder="1" formControlName="countDaysUnavailable">
    </mat-form-field>
  </div>

</form>
