:host ::ng-deep {
  .mat-sort-header-container {
    justify-content: center !important;
  }
}

.resume-list {
  //padding: 30px;
  position: relative;

  .mat-row:hover {
    background: #f1f1f1;
  }

  .mat-sort-header-container {
    justify-content: center;
  }

  .table-wrapper {
    padding: 24px;
    box-shadow: 0 10px 13px rgba(17, 38, 146, 0.05);
    border-radius: 8px;
    background: white;

    table {
      font-size: 1.1em;
    }

    .title-section {
      display: flex;
      justify-content: space-between;

      button {
        max-height: 5.2rem;
      }
    }

    h1 {
      font-weight: 700;
      line-height: 130%;
      color: #04040B;
      margin-bottom: 60px;
      margin-right: 3rem;
    }

    .left-block {
      display: flex;

      .filter-block {
        display: flex;

        &>* {
          margin-right: 2rem;
        }
      }
    }

    table {
      width: 100%;
      box-shadow: none;

      th {
        text-align: center;
        vertical-align: middle;
        border-bottom: 1px #C4C4C4 solid;
        font-weight: 400;
      }

      td {
        text-align: center;
        vertical-align: middle;
        font-size: 1em;
        line-height: 28px;
        color: #04040B;
        font-weight: 400;
      }

      .mat-cell {
        border: 0;
      }

      .mat-header-row {
        height: 0;
      }

      .mat-header-cell {
        font-size: 1em;
        line-height: 28px;
        color: #04040B;
      }

      .mat-column-action {
        width: 30%;
      }

      .mat-column-skills {
        width: 10%;
        word-wrap: break-word;
        text-align: center;
      }

      .mat-column-loading {
        text-align: center;
      }

      .mat-column-status {
        text-align: left;
      }

      .action-wrapper {
        display: grid;
        grid-template-columns: repeat(4, minmax(6rem, 25%));
        justify-content: space-between;

        button {
          height: 35px;
          padding: .1rem .2rem;
          color: white;
          border: 0;
          border-radius: 4px;
          font-size: 1em;

          &:not(:first-child) {
            margin-left: 0.4rem;
          }

          &:hover {
            cursor: pointer;
            opacity: .9;
          }


          &.pdf {
            background: #3A57E8;
          }

          &.docx {
            background: #FF5DCD;

          }

          &.open {
            background: #1AA053;

          }

          &.edit {
            background: #F16A1B;

          }

          &.delete {
            background: #BA3020E5;
          }

          &.recover {
            background: #ADB5BD;
          }
        }

      }
    }
  }

  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    .rate-limit-reached {
      max-width: 360px;
      text-align: center;
    }
  }
}

button[disabled] {
  background: #ADB5BD !important;
  pointer-events: none;
}