<div class="resume-list">
  <div class="table-wrapper">
    <div class="title-section">
      <div class="left-block">
        <h1>{{tableHeader}}</h1>
        <div class="filter-block">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Search...</mat-label>
            <input type="tel" matInput placeholder="" [formControl]="searchControl">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Position filter</mat-label>
            <mat-select [formControl]="positionControl" multiple="true" #positionMultiSelect>
              <mat-option>
                <ngx-mat-select-search [formControl]="positionFilterControl" placeholderLabel="Search..." noEntriesFoundLabel="no matching found"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let position of filteredPositionsMulti | async" [value]="position.positionId">
                {{position.positionName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Skills filter</mat-label>
            <mat-select [formControl]="skillsControl" multiple="true" #skillMultiSelect>
              <mat-option>
                <ngx-mat-select-search [formControl]="skillFilterControl" placeholderLabel="Search..." noEntriesFoundLabel="no matching found"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let skill of filteredSkillsMulti | async" [value]="skill.id">
                {{skill.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>            
      <button *ngIf="isShowAddButton" mat-raised-button routerLink="/admin/resume/create">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <table mat-table [dataSource]="resumes" class="mat-elevation-z8"
           matSort matSortActive="" matSortDirection="">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cv Name&Surname</th>
        <td mat-cell *matCellDef="let resume">
          {{resume.firstName}} {{resume.lastName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Position</th>
        <td mat-cell *matCellDef="let resume">{{resume.positionName ?? 'None'}}</td>
      </ng-container>

      <ng-container matColumnDef="skills">
        <th mat-header-cell *matHeaderCellDef>Skills</th>
        <td mat-cell *matCellDef="let resume"><span *ngFor="let skill of resume.skills, let i=index">{{skill.name}}{{i === resume.skills.length - 1 ? '' : ', '}}  </span></td>
      </ng-container>

      <ng-container matColumnDef="loading">
        <th mat-header-cell *matHeaderCellDef>Loading, %</th>
        <td mat-cell *matCellDef="let resume">75%</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let resume">{{getAvailabilityStatusLabel(resume.availabilityStatus)}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="th-action">Action</th>
        <td mat-cell *matCellDef="let resume">
          <div class="action-wrapper">
            <button  [disabled]="resume.deletedAt !== null" class="pdf" (click)="getResumePdf(resume)">PDF</button>
            <!--            <button class="docx">DocX</button>-->
                        <button   class="open admin-btn" routerLink="{{url}}/{{resume.id}}">Open</button>
                        <button  [disabled]="resume.deletedAt !== null" class="edit admin-btn" routerLink="{{url}}/edit/{{resume.id}}">Edit</button>
                        <button *ngIf="resume.deletedAt == null; else recoverButton" class="delete admin-btn" (click)="deleteResume(resume)">Delete</button>
            <ng-template #recoverButton><button class="recover" (click)="recoverResume(resume)">Recover</button></ng-template>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="resumesCount" [pageSize]="30" aria-label="Select page of table"></mat-paginator>
  </div>

</div>
