<div class="resume-list">
  <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="rate-limit-reached" *ngIf="isRateLimitReached">
      Database rate limit has been reached. It will be reset in one minute.
    </div>
  </div>
  <div class="table-wrapper">
    <div class="title-section">
      <div class="left-block">
        <h1>CV list with Involvement</h1>
        <div class="filter-block">
          <div class="search">
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="12.6015" cy="10.8848" rx="9.10146" ry="8.88476" stroke="#ADB5BD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M18.9316 17.5273L22.4999 21.0016" stroke="#ADB5BD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>              
            <input type="text" name="search" placeholder="Search..." [formControl]="searchControl">
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Position filter</mat-label>
            <mat-select [formControl]="positionControl" multiple="true" #positionMultiSelect>
              <mat-option>
                <ngx-mat-select-search [formControl]="positionFilterControl" placeholderLabel="Search..." noEntriesFoundLabel="no matching found"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let position of filteredPositionsMulti | async" [value]="position.positionId">
                {{position.positionName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Skills filter</mat-label>
            <mat-select [formControl]="skillsControl" multiple="true" #skillMultiSelect>
              <mat-option>
                <ngx-mat-select-search [formControl]="skillFilterControl" placeholderLabel="Search..." noEntriesFoundLabel="no matching found"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let skill of filteredSkillsMulti | async" [value]="skill.id">
                {{skill.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>            
      <button mat-raised-button routerLink="/admin/resume/create">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <table mat-table [dataSource]="resumes" class="mat-elevation-z8"
           matSort matSortActive="" matSortDirection="">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cv Name&Surname</th>
        <td mat-cell *matCellDef="let resume">
          {{resume.firstName}} {{resume.lastName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Position</th>
        <td mat-cell *matCellDef="let resume">{{resume.positionName ?? 'None'}}</td>
      </ng-container>

      <ng-container matColumnDef="skills">
        <th mat-header-cell *matHeaderCellDef>Skills</th>
        <td mat-cell *matCellDef="let resume"><span *ngFor="let skill of resume.skills, let i=index">{{skill.name}}{{i === resume.skills.length - 1 ? '' : ', '}}  </span></td>
      </ng-container>

      <ng-container matColumnDef="loading">
        <th mat-header-cell *matHeaderCellDef>Loading, %</th>
        <td mat-cell *matCellDef="let resume">75%</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let resume">Busy</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="th-action">Action</th>
        <td mat-cell *matCellDef="let resume">
          <div class="action-wrapper">
            <button class="pdf" (click)="getResumePdf(resume)">PDF</button>
<!--            <button class="docx">DocX</button>-->
            <button class="open" routerLink="/admin/resume/{{resume.id}}">Open</button>
            <button class="edit" routerLink="/admin/resume/edit/{{resume.id}}">Edit</button>
            <button *ngIf="resume.deletedAt == null; else recoverButton" class="delete" (click)="deleteResume(resume)">Delete</button>
            <ng-template #recoverButton><button class="recover" (click)="recoverResume(resume)">Recover</button></ng-template>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of GitHub search results"></mat-paginator>
  </div>

</div>
