<div class="back-btn__wrapper">
  <button mat-raised-button class="back-btn" routerLink="/home/resume">
    <mat-icon>arrow_back_ios</mat-icon>
    Back to Resume List
  </button>
</div>

<div class="content" *ngIf="resume && resumeForm" [formGroup]="resumeForm">

  <div class="container">
    <div class="template-wrapper">
      <cv-resume-builder-editor *ngIf="isLiveEdit" class="template-wrapper"
                              [resumeForm]="resumeForm" [resume]="resume" [resumeChanged]="resumeChanged"
                              [templatedChanged]="templateChanged"></cv-resume-builder-editor>
    </div>
    

    <div *ngIf="!isLiveEdit" class="wrapper-edit">
      <resume-template-builder class="template-wrapper" [resume]="resume" [resumeChanged]="resumeChanged"
                               [templatedChanged]="templateChanged"></resume-template-builder>

      <div class="left-bar form-bar">
        <form-bar [resumeForm]="resumeForm" [resume]="resume" [isCreateForm]="false"
                  (templateChange)="changeTemplate($event)"></form-bar>
      </div>

    </div>
  </div>

  <div class="actions">
    <button mat-fab color="primary" [disabled]="!resumeForm.valid" (click)="submit(resume)">
      <mat-icon>done</mat-icon>
    </button>

    <button mat-fab color="primary" (click)="isLiveEdit = !isLiveEdit">
      <mat-icon>swap_horiz</mat-icon>
    </button>

    <button *ngIf="isLiveEdit" mat-fab color="primary" (click)="openResumeSettingDialog()">
      <mat-icon>settings</mat-icon>
    </button>

  </div>


</div>