<div class="container">
  <div class="edit-page">
    <form class="left-bar">

      <app-cv-create-left-bar *ngIf="resumeEditDto" [resumeForm]="resumeEditForm" [resume]="resumeEditDto">
      </app-cv-create-left-bar>
      <div class="action">
        <button mat-raised-button color="primary" [disabled]="!resumeEditForm.valid"
                (click)="submit(resumeEditForm.value)">Edit
        </button>
      </div>
    </form>
  </div>
  <app-cv-template id="cv-template" *ngIf="resumeEditDto" [resumeEditForm]="templateForm"></app-cv-template>
</div>
