.container {
  display: flex;
  height: 100%;

}

.edit-page {
  padding: 30px 30px 0 20px;
  flex: 0 1 30%;

  .left-bar {
    max-height: 83vh;
    overflow: hidden auto;
    scrollbar-width: none;
  }

  .left-bar::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

}

.cv {
  
  flex: 0 1 70%;
  height: 100%;
}

