<div class="container">
  <div class="edit-page">
    <form class="left-bar">

      <app-cv-create-left-bar *ngIf="resumeEditDto" [resumeForm]="resumeEditForm" [resume]="resumeEditDto">
      </app-cv-create-left-bar>
      <!--    <button mat-raised-button color="primary" [disabled]="!resumeEditForm.valid" (click)="submit(resumeEditForm.value)">Create</button>-->
      <button mat-raised-button color="primary" (click)="submit(resumeEditForm.value)">Edit</button>
    </form>
  </div>
    <app-cv-template id="cv-template" [resumeEditForm]="templateForm" ></app-cv-template>
</div>
