footer {
   height: 3rem;
   width: 100%;
   display: flex;
   justify-content: right;
   color: black;
   bottom: 0;
   span {
      font-size: 1.6em;
      line-height: 50px;
      color: #000;
   }
}
