.experience-dialog {

  .mat-dialog-content {
    overflow: auto;
  }

  .content {
    display: grid;
    gap: 10px;

    .actions {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.textarea {
  resize: none;
  height: 7rem;
}