<div class="proposal-dialog">
  <h1 mat-dialog-title >Settings proposal</h1>
  <div mat-dialog-content class="content">

    <mat-form-field appearance="fill">
      <mat-label>Proposal name</mat-label>
      <input matInput placeholder=".Net" [(ngModel)]="proposal.proposalName">
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Select Client</mat-label>
      <mat-select [(value)]="proposal.client" [compareWith]="compareUser" disableOptionCentering>
        <mat-option *ngFor="let client of clients" [value]="client">
          {{client.firstName}} {{client.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Status proposal</mat-label>
      <mat-select [(ngModel)]="proposal.statusProposal" disableOptionCentering>
        <mat-option [value]="1">Created</mat-option>
        <mat-option [value]="2">In Review</mat-option>
        <mat-option [value]="3">Approved</mat-option>
        <mat-option [value]="4">Done</mat-option>
        <mat-option [value]="5">Denied</mat-option>
        <mat-option [value]="6">In Working</mat-option>
      </mat-select>
    </mat-form-field>




    <mat-form-field appearance="fill">
      <mat-label>Select Template</mat-label>
      <mat-select [(value)]="proposal.resumeTemplateId" disableOptionCentering>
        <mat-option *ngFor="let template of resumeTemplates" [value]="template.templateId" >
          {{template.templateName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="checkbox-section">
      <div>
        <mat-icon *ngIf="proposal.showLogo">image</mat-icon>
        <mat-icon *ngIf="!proposal.showLogo">hide_image</mat-icon>
        <mat-slide-toggle [(ngModel)]="proposal.showLogo">
         <span matTooltip="Show footer in resume for client" matTooltipPosition="after">
          Show Logo
        </span>
        </mat-slide-toggle>
      </div>
      <div>
        <mat-icon *ngIf="proposal.showContacts">face</mat-icon>
        <mat-icon *ngIf="!proposal.showContacts">face_retouching_off</mat-icon>
        <mat-slide-toggle [(ngModel)]="proposal.showContacts">
       <span matTooltip="Show resume contacts for client" matTooltipPosition="after">
          Show Contacts
        </span>
        </mat-slide-toggle>
      </div>
      <div>
        <mat-icon *ngIf="proposal.showCompanyNames">account_circle</mat-icon>
        <mat-icon *ngIf="!proposal.showCompanyNames">no_accounts</mat-icon>
        <mat-slide-toggle [(ngModel)]="proposal.showCompanyNames">
        <span matTooltip="Show company names in resume for client" matTooltipPosition="after">
          Show company names
        </span>
        </mat-slide-toggle>
      </div>

      <div>
        <mat-icon *ngIf="!proposal.isIncognito">visibility</mat-icon>
        <mat-icon *ngIf="proposal.isIncognito">visibility_off</mat-icon>
        <mat-slide-toggle [(ngModel)]="proposal.isIncognito">
        <span matTooltip="Hiding last name in resume for client" matTooltipPosition="after">
          Incognito
        </span>
        </mat-slide-toggle>
      </div>
    </div>

  </div>
  <div mat-dialog-actions class="actions">
    <button mat-stroked-button cdkFocusInitial [mat-dialog-close]="proposal" [disabled]="canUpdate()"
            matTooltip="Save" matTooltipPosition="above">Save</button>
    <button mat-stroked-button [mat-dialog-close]="false"
            matTooltip="Cancel" matTooltipPosition="above">Cancel</button>
  </div>
</div>
