ul li { list-style-type: none; }
:host {
   display: block;
   min-height: 100%;
}

.btn-load {
   font-family: 'Inter', sans-serif;
   margin: 4.6rem auto 0;
   max-width: 66rem;
   height: 6rem;
   background: #527EA6;
   box-shadow: 0px 8px 6px rgba(162, 164, 167, 0.59);
   border-radius: 3rem;
   font-weight: 700;
   font-size: 2.4rem;
   line-height: 1.2;
   color: #FFFFFF;
   display: flex;
   align-items: center;
   justify-content: center;
   @media(max-width:700px){
      height: 5rem;
      margin: 2rem auto 0;
      font-size: 2rem;
      white-space: wrap !important;
   }
   @media(max-width:600px){
      height: 4rem;
      font-size: 2rem;
   }
   @media(max-width:480px){
      height: 4rem;
      font-size: 1.4rem;
      padding-left: 1rem;
      padding-right: 1rem;
   }
}

.wrapper {
   background: #E5E5E5;
   font-family: 'Inter';
   padding: 4rem 0 2.5rem 2.5rem;
   font-weight: 400;
   min-height: 100%;
   min-height: calc(100vh - 14rem);
   @media(max-width:610px){
      padding: 2rem .2rem 2rem 1rem;
    }
}

.row {

   // .row__line

   &__line {
      height: 3.5rem;
      background: #D9D9D9;
      border: 1px solid #527EA6;
      box-shadow: 0px 4px 4px rgba(162, 164, 167, 0.6);
      border-radius: 30px 0px 0px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   // .row__line-item

   &__line-item {
      font-weight: 600;
      font-size: 25px;
      line-height: 175%;
      line-height: 1.2;

      color: rgba(0, 0, 0, 0.5);

      &:first-child {
         margin-left: 2rem;
         display: flex;
         align-items: center;
      }
   }

   // .row__line-name

   &__line-name {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 1.2;
      color: #04040B;
      &::first-letter{
         text-transform: uppercase;
      }
   }

   // .row__line-counter

   &__line-counter {
      margin-left: 1.6rem;
   }

   // .row__line-counter-part

   &__line-counter-part {}

   // .row__line-counter-sum

   &__line-counter-sum {}

   // .row__cards

   &__cards {
      min-height: 37.5rem;
   }

   // .row__cards-inner

   &__cards-inner {
      height: 100%;
      padding-bottom: 2rem;
      display: flex;
      align-items: flex-start;
      flex-wrap: nowrap;
      overflow-x: hidden;
      transition: all .3 ease;

      &.card-transform {
         flex-wrap: wrap;
      }
   }

   // .row__card

   &__card {}
}

.btn-toggle {
   font-weight: 600;
   font-size: 25px;
   color: #3C6F9E;
   margin-right: 7rem;
   pointer-events: none
}



.reset-btn {}

.btn {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 14rem;
   height: 3.5rem;
   border-radius: 3rem;
   font-size: 1.6rem;
   line-height: 1.2rem;
   color: #FFFFFF;
   margin: 0rem 3.2rem;
}

.select {
   background: #3C6F9E;
}

.deny {
   background: #F36F0C;
}

.check {
   font-size: 2rem;
   font-weight: 600;
   color: rgba(0, 0, 0, 0.372);
}

.selected {
   background-color: #ccc;
}

svg {
   outline: none;
}

button[disabled].btn-load {
   background: rgba(82, 126, 166, .3);
   color: rgba(255, 255, 255, .5);
}

button[disabled].select {
   // color: rgba(255, 255, 255, .7);
   // background-color: rgba(70, 69, 69, 0.438);
   color: rgba(255, 255, 255, .7);
   background: rgba(60, 111, 158, .5);
}

button[disabled].deny {
   // color: rgba(255, 255, 255, .7);
   // background-color: rgba(70, 69, 69, 0.438);
   color: rgba(255, 255, 255, .7);
   background: rgba(243, 111, 12, .5);
}
.big-btn{
   @media(max-width:600px){
     display: none;
  }
  @media(min-width:600px){
     display: block;
  }
 
}
.small-btn{
  @media(min-width:600px){
     display: none;
  }
  @media(max-width:600px){
     display: block;
  }
}