<div class="wrapper">
		<div *ngFor="let position of resume" class="row">
			<cv-proposal
			[isIncognito]="isIncognito"
			(statusChang)="statusChang($event)"
			[statusObject]="statusObject"
			[resumeArray]="position"
			[proposalId]="proposalId"
			[setStatusProposal]="statusProposal"
			[checkArrayAll]="checkArrayAll"
			></cv-proposal>
		</div>

		
		<button [disabled]="!checkArrayAll.length" *ngIf="statusProposal !== StatusProposal.Approved;else btnApproveClone" (click)="approveUsers()" mat-button class="btn-load reset-btn big-btn">You selected ({{checkArrayAll.length}}) CV. Approve proposal. Start work</button>
		<ng-template #btnApproveClone>
			<button [disabled]="statusProposal === StatusProposal.Approved" (click)="approveUsers()" mat-button class="btn-load reset-btn big-btn">You selected  CV. Approve proposal. Start work</button>
		</ng-template>
		<button [disabled]="!checkArrayAll.length" *ngIf="statusProposal !== StatusProposal.Approved;else btnApproveClone" (click)="approveUsers()" mat-button class="btn-load reset-btn small-btn">You selected ({{checkArrayAll.length}}) CV. Approve proposal.</button>
		<ng-template #btnApproveClone>
			<button [disabled]="statusProposal === StatusProposal.Approved" (click)="approveUsers()" mat-button class="btn-load reset-btn small-btn">You selected  CV. Approve proposal.</button>
		</ng-template>
</div>
