<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Language</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto"
           >
    <mat-autocomplete  autoActiveFirstOption #auto="matAutocomplete"
      (optionSelected)="onLanguageSelected($event)">
      <mat-option *ngFor="let item of filteredOptions | async" [value]="item">
        {{item.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Language level</mat-label>
      <mat-select (selectionChange)="onSelectionLanguageLevelChanged($event)" [(value)]="languageLevel">
      <mat-option *ngFor="let option of languageLevels" [value]="option">
        {{ option.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</form>


<a (click)="onUpPosition()"> <mat-icon>expand_less</mat-icon></a>
<a (click)="onLowerPosition()"> <mat-icon>expand_more</mat-icon></a>
<a (click)="onDeletePosition()"><mat-icon>delete_forever</mat-icon></a>


