<div class="container" *ngIf="resumeDto" [formGroup]="resumeForm">

  <resume-template-builder [resume]="resumeDto" [resumeChanged]="resumeChanged" [templatedChanged]="templateChanged" [isCreate]="true"></resume-template-builder>

<!--  <cv-resume-builder-editor [resumeForm]="resumeForm" [resume]="resumeDto" [resumeChanged]="resumeChanged"-->
<!--                            [templatedChanged]="templateChanged"></cv-resume-builder-editor>-->
<!--  <div class="status-section">-->
<!--    <div class="price-section">-->
<!--      <mat-form-field appearance="fill">-->
<!--        <mat-label>Salary rate</mat-label>-->
<!--        <input matInput numeric placeholder="100" formControlName="salaryRate">-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Select Template</mat-label>-->
<!--      <mat-select [(value)]="resumeDto.resumeTemplateId" formControlName="resumeTemplateId"-->
<!--                  [(ngModel)]="resumeDto.resumeTemplateId" disableOptionCentering-->
<!--                  [compareWith]="compareTemplate" (selectionChange)="changeTemplate($event.value)">-->
<!--        <mat-option *ngFor="let template of resumeTemplates" [value]="template.templateId">-->
<!--          <div class="select-template-item">-->
<!--            <span>{{template.templateName}}</span>-->
<!--            <img width="20px" height="20px" src="assets/eye.png" alt="eye logo"-->
<!--                 (click)="showPreview($event,template.templateId)">-->
<!--          </div>-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--      <mat-error *ngIf="resumeForm.controls['lastName'].errors?.['required']">-->
<!--        Template is required-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Availability statuses</mat-label>-->
<!--      <mat-select [(value)]="resumeDto.availabilityStatus" formControlName="availabilityStatus">-->
<!--        <mat-option [value]="1">Available</mat-option>-->
<!--        <mat-option [value]="2">Busy</mat-option>-->
<!--        <mat-option [value]="3">Partial Available</mat-option>-->
<!--        <mat-option [value]="4">Very careful available</mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Number of days unavailable</mat-label>-->
<!--      <input type="number" min="0" matInput placeholder="1" formControlName="countDaysUnavailable">-->
<!--    </mat-form-field>-->

<!--    <div class="action">-->
<!--      <button mat-stroked-button [disabled]="!resumeForm.valid"-->
<!--              (click)="submit(resumeForm.value)" matTooltip="Save" matTooltipPosition="above">Save-->
<!--      </button>-->

<!--      <button    mat-stroked-button routerLink="/admin/resume"-->
<!--                 matTooltip="Cancel" matTooltipPosition="above">Cancel-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->


  <div class="create-page">
    <div class="left-bar">
      <form-bar *ngIf="resumeDto" [resumeForm]="resumeForm" [resume]="resumeForm.value" (templateChange)="changeTemplate($event)"></form-bar>
      <div class="action">
        <button mat-stroked-button [disabled]="!resumeForm.valid" (click)="submit(resumeForm.value)"  matTooltip="Save" matTooltipPosition="above">Save</button>
        <button mat-stroked-button routerLink="/admin/resume"  matTooltip="Cancel" matTooltipPosition="above">Cancel</button>
      </div>
    </div>
  </div>
</div>
