<div class="container" *ngIf="resumeCreateDto">
  <resume-template-builder [resume]="resumeCreateDto" [resumeChanged]="resumeChanged" [templatedChanged]="templateChanged" [isCreate]="true"></resume-template-builder>
  <div class="create-page">
    <div class="left-bar">
      <form-bar *ngIf="resumeCreateDto" [resumeForm]="resumeCreateForm" [resume]="resumeCreateForm.value" (templateChange)="templateChange($event)"></form-bar>
      <div class="action">
        <button mat-stroked-button [disabled]="!resumeCreateForm.valid" (click)="submit(resumeCreateForm.value)"  matTooltip="Save" matTooltipPosition="above">Save</button>
        <button mat-stroked-button routerLink="/admin/resume"  matTooltip="Cancel" matTooltipPosition="above">Cancel</button>
      </div>
    </div>
  </div>
</div>
