.page {
  height: calc(100vh - 160px);
  background: #E5E5E5;
  display: grid;
  align-items: start;
  grid-template-columns: minmax(22rem,35rem) auto;

  .page-content {
    padding: 30px;
    height: calc(100vh - 160px);
    overflow-y: auto;
  }

  cv-side-bar {
    height: calc(100vh - 160px);
    background-color: #fff;
  }

  // @media (max-width: 1450px) {
  //   & {
  //     grid-template-columns: 17% auto;
  //   }
  // }

  // @media (max-width: 1290px) {
  //   & {
  //     grid-template-columns: 20% auto;
  //   }
  // }


}
