<div class="page">
  <mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened"> menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close</mat-icon>
    </button>
    <cv-header class="header"></cv-header>
  </mat-toolbar>
  <mat-sidenav-container [@.disabled]="true">
    <mat-sidenav #sidenav="matSidenav">
      <cv-side-bar class="side-bar"></cv-side-bar>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
