// @import './app/shared/styles/normalize.scss';
@import "~normalize.css";
@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900');


ul{
  list-style-type: none;
}

li{
  list-style: none;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

*{
  box-sizing: border-box;
}

html,
body {
  font-size: 10px
}

.success-snackbar {
  background: green;
  color: white;
  font-size: 1em;
}

.danger-snackbar {
  background: red;
  color: white;
  font-size: 1em;
}

.btn-reset {
  border: transparent;
  outline: transparent;
  background-color: transparent;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:link {
  color: inherit;
}

.side-bar li.active .mat-expansion-indicator::after {
  color: white;
}

.mat-select-panel {
  position: absolute;
  top: 2.5rem;
  left: .4rem;
  min-width: calc(100% + 22px) !important;
  border-radius: 0px !important;
  border-top-style: none;

  @media(max-width:970px) {
    // left: -8.3rem;
  }

  @media(max-width:700px) {
    top: 1.5rem;
  }

  @media(max-width:600px) {
    top: 1rem;
  }
}

.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0px !important;
  border-right-style: none !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0px !important;
  border-left-style: none !important;
}

.mat-select-panel ng-animating {
  visibility: hidden;
}

// style scrollbar

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  /* ширина всей полосы прокрутки */
}

::-webkit-scrollbar-track {
  background: none;
  /* цвет зоны отслеживания */
}


::-webkit-scrollbar-thumb:horizontal{
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(138, 146, 166);
  /* цвет бегунка */
  border-radius: 20px;
  /* округлось бегунка */
  // border: 3px solid orange;
  /* отступ вокруг бегунка */
}

.delete-modal {
  height: 200px;
  width: 300px;
}

.admin-btn {
  padding-left: 1rem;
  padding-right: 1rem;
}

// resets the styles in the scroll-bar material in the component,but you need to add panelClass: 'remove-style-scroll'

.remove-style-scroll {
  .mat-dialog-actions {
    margin-bottom: 0 !important;
  }


}

.change-material-style {
  .mat-dialog-content {
    overflow-y: visible;
    max-height: 90vh !important;
    @media(max-height:800px){
      max-height: 65vh !important;
      overflow-y: auto;
    }
    @media(max-height:500px){
      max-height: 55vh !important;
      overflow-y: auto;
    }
  }
}


th {
  white-space: nowrap;
  padding-left: 1rem !important;
  padding-right: 1rem !important;

}

td {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  overflow-x: hidden;
}

.mat-sort-header-arrow {
  margin: 0;
}

.mat-tooltip {
  font-size: 14px !important;
}

.zoom-icon{
  color: rgba(0, 0, 0, 0.54);
}
.hidden-mat-btn-group{
  display: none;
}

.mat-select-panel-height{
  max-height:180px !important;
}

.table-page{
  border-radius: 0px !important;
}

.shift-to-the-left{
  @media(max-width:970px){
    left: -17rem;
  }
}

resume-template-builder{
  display: flex;
  justify-content: center;
}



















