<div class="team-dialog">
  <h1 mat-dialog-title >Create new team</h1>
  <div mat-dialog-content class="content">

    <mat-form-field appearance="fill">
      <mat-label>Team name</mat-label>
      <input matInput placeholder=".Net Team" [(ngModel)]="team.teamName">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select Client</mat-label>
      <mat-select [(value)]="team.clientId">
        <mat-option *ngFor="let client of clients" [value]="client.userId">
          {{client.firstName}} {{client.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="resume-section">
      <mat-form-field appearance="fill">
        <mat-label>Resumes</mat-label>
        <mat-chip-list #chipList aria-label="Resume selection">
          <mat-chip
            *ngFor="let resume of resumes"
            (removed)="remove(resume)">
            {{resume.resumeName}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="Select resume"
            #resumeInput
            [formControl]="resumeCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let resume of filteredResumes | async" [value]="resume">
            {{resume.resumeName}} {{resume.firstName}}  {{resume.lastName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

  </div>
  <div mat-dialog-actions class="actions">
    <button mat-button (click)="click()" cdkFocusInitial [disabled]="canCreate()">Create</button>
  </div>

</div>
