
  <div class="back-btn__wrapper">
    <button
      mat-raised-button
      class="back-btn"
      routerLink="{{proposalIdExist?'../../':'../'}}"
    >
      <mat-icon>arrow_back_ios</mat-icon>
      {{proposalIdExist?'Back to Team':'Back to Resumes'}}
    </button>
  </div>

<div class="content">
  <div class="container">
    <div class="wrapper-edit">
      <resume-template-builder class="template-wrapper" *ngIf="resume" [resume]="resume"></resume-template-builder>
    </div>
  </div>

      <div class="actions">

    <a class="pdf-button" mat-fab color="primary" routerLink="/admin/resume/edit/{{resume?.id}}" matTooltip="Edit resume" matTooltipPosition="before">
      <mat-icon>edit</mat-icon>
    </a>

    <button class="edit-button" mat-fab color="primary" (click)="getPdf()" matTooltip="Download resume pdf" matTooltipPosition="before">
      <mat-icon>picture_as_pdf</mat-icon>
    </button>

    <button class="pdf-button" mat-fab color="primary" (click)="getDocx()" matTooltip="Download resume docx" matTooltipPosition="before">
      <mat-icon>description</mat-icon>
    </button>
  </div>
</div>

<ngx-spinner size="medium" type="ball-circus" [fullScreen]="true"></ngx-spinner>

