.wrapper {
   margin-top: 2rem;
   margin-bottom: 2rem;
   @media(max-width:400px) {
      margin-top: 1rem;
      margin-bottom: 1rem;
   }
}

.inner {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
   grid-gap: 2rem 2rem;
   padding: 0 1.5rem;

   @media(max-width:880px) {
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
   }
}

.create-resume {
   background-color: #3f51b5;
   color: #fff;
}

.btn {
   margin-top: 2rem;
   justify-content: center;
   display: flex;
   margin-bottom: 2rem;
   button {
      width: 20rem;
   }
}