<div *ngIf="cv" class="main-block">
  <div class="container">
    <form class="createForm" [formGroup] = "profileForm" (ngSubmit)="onSubmit()">
      <div class="form-main">
        <div class="form-main-left">
          <div>
            <div class="cv-name">
              <span>CV Name (alias): </span><input formControlName="cvName" type="text">
              <!-- formControlName="cvName" -->
              <span>Is Draft: </span><input type="checkbox">
            </div>
            <div class="user-pic">
              <img src="{{cv.picture}}" alt="">
              <input type="text" hidden>
              <div class="name-block">
                <div class="user-name">
                  <div><span>Name:</span><input formControlName="userName" type="text"></div>
                  <div><span>Last Name:</span><input formControlName="lastName" type="text"></div>
                </div>
              </div>

            </div>
            <div class="position">
              <div><span>Required Position:</span><input formControlName="requiredPosition" type="text"></div>
            </div>
            <div class="birthdate">
              <span>Birthday:</span><input formControlName="birthdate" type="date" >
            </div>
            <div class="left-item-title about">
              <span>ABOUT ME</span>
            </div>
            <div class="about-me">
              <angular-editor id="about" formControlName="about" ></angular-editor>
            </div>
            <div class="left-item-title">
              <span>CONTACTS</span>
            </div>
            <div class="contact">
              <div class="contact-ico">
                <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
              </div>
              <div class="contact-description">
                <div><span>Country:</span><input formControlName="country" type="text"></div>
                <div><span>City:</span><input formControlName="city" type="text"></div>
                <div><span>Street:</span><input formControlName="street" type="text"></div>
                <div><span>Code:</span><input formControlName= "code" type="text"></div>
              </div>
            </div>
            <div class="contact">
              <div class="contact-ico">
                <fa-icon [icon]="faMobileAlt"></fa-icon>
              </div>
              <div class="contact-description">
                <div><span>Phone:</span><input formControlName="phone" type="text"></div>
              </div>
            </div>
            <div class="contact email">
              <div class="contact-ico">
                <fa-icon [icon]="faAt"></fa-icon>
              </div>
              <div class="contact-description">
                <div><span>Email:</span><input formControlName="email" type="text"></div>
              </div>
            </div>
            <div class="contact site">
              <div class="contact-ico">
                <fa-icon [icon]="faGlobe"></fa-icon>
              </div>
              <div class="contact-description">
                <div><span>Site:</span><input formControlName ="site" type="text"></div>
              </div>
            </div>
          </div>


          <div class="left-item-title">
            <span>SKILLS</span>
          </div>

          <div *ngIf="cv.skills" class="skills">
            <div class="addBtn">
              <button class="cv-btn" (click)="addSkils()" type="button">Add Skill</button>
            </div>
            <div class="skill" formArrayName="skills" *ngFor="let _ of skills.controls; index as i">
              <div [formGroupName]="i" >
                <div class="skill-top">
                  <div class="skill-name"><span>Skill:</span><input formControlName="name" type="text"></div>
                  <div class="skill-level"><span>Level:</span><input formControlName="level" type="range" min="1" max="5"></div>

                </div>
                <div class="skill-bottom">
                  <div class="deleteBtn">
                    <button class="cv-btn" (click)="removeSkils(i)" type="button">Delete Skill</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-main-right">
          <div class="right-title">
            <span>Educations</span>
          </div>
          <div class="right-items">
            <div class="addBtn">
              <button class="cv-btn" (click)="addEducations()" type="button">Add Education</button>
            </div>
            <div formArrayName="educations" *ngFor="let _ of educations.controls index as i">
              <div [formGroupName]="i" class="right-item" >
                <div class="item-top">
                  <div class="item-date">
                    <div><span>Start Date: </span><input formControlName ="startDate" type="date"></div>
                    <div><span>End Date: </span><input formControlName="endDate" type="date"></div>
                  </div>
                  <div class="item-info">
                    <div><span>University Name: </span><input formControlName="institutionName" type="text"></div>
                    <div><span>Specialization: </span><input formControlName ="specialization" type="text"></div>
                    <div><span>Degree: </span><input formControlName ="degree" type="text"></div>
                    <div><span>More about: </span><textarea formControlName="description" cols="30" rows="10"></textarea></div>
                  </div>
                </div>

                  <div class="item-bottom">
                    <div class="deleteBtn">
                      <button class="cv-btn" (click)="removeEducations(i)" type="button">Delete Education</button>
                    </div>
                  </div>

              </div>
            </div>
          </div>

          <div class="right-title">
            <span>Experiences</span>
          </div>

          <div class="right-items">
            <div class="addBtn">
              <button class="cv-btn" type="button" (click)="addExperience()" >Add Experience</button>
            </div>
            <div class="right-item" formArrayName="experiences" *ngFor="let _ of experiences.controls index as i" >
              <div [formGroupName] ="i">
                <div class="item-top">
                  <div class="item-date">
                    <div><span>Start Date: </span><input formControlName="startDate" type="date" id=""></div>
                    <div><span>End Date: </span><input formControlName="endDate" type="date" id=""></div>
                  </div>
                  <div class="item-info">
                    <div><span>Company: </span><input formControlName="company" type="text"></div>
                    <div><span>Position: </span><input  formControlName="position" type="text"></div>
                    <div><span>More about: </span><textarea formControlName="description"  cols="30"
                        rows="10"></textarea></div>
                  </div>
                </div>
                <div class="item-bottom">
                  <div class="deleteBtn">
                    <button class="cv-btn" (click)="removeExperience(i)" type="button">Delete Experience</button>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="right-title">
            <span>Languages</span>
          </div>
          <div *ngIf="cv.userLanguages" class="right-items"  >
            <div class="addBtn">
              <button class="cv-btn" (click)="addUserLanguages()" type="button">Add Language</button>
            </div>
            <div  formArrayName="userLanguages" *ngFor="let _ of userLanguages.controls; index as i">
              <div class="skill" [formGroupName]="i">
                <div class="skill-top" >
                  <div class="skill-name"><span>Language:</span><input formControlName ="name" type="text"></div>
                  <div class="skill-level"><span>Level:</span><input formControlName ="level" type="range" min="1" max="5"></div>
                </div>
                <div class="skill-bottom">
                  <div class="deleteBtn">
                    <button class="cv-btn" (click)="removeUserLanguages(i)" type="button">Delete Language</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-bottom">
        <div class="saveBtn">
          <button  class="cv-btn" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

