@import "./../../../shared/styles/main.scss";
@import "./../../../shared/styles/cvcreate.scss";

// @import "./cv-button.scss";
$title-back: rgb(82, 139, 214);
$name-back: rgba(82, 139, 214, 0.6);
$back-grey: lightgrey;
.container {
  width: 1190px;
  margin: auto;
}
p, span {
  font-size: 20px;
}
.cv-full {
  margin: 20px 0;
  display: flex;
}
.cv-left,
.cv-right {
  display: flex;
  flex-direction: column;
  margin: 2px;
}
.cv-left {
  width: 35%;
  background-color: $back-grey;
  box-shadow: 5px 0 10px $back-grey;
}
.user-pic {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-pic img {
  width: 100%;
  max-height: 100%;
}
.user-name {
  position: absolute;
  bottom: 0;
  background-color: $name-back;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
.user-name span {
  color: #fff;
  font-size: 34px;
  font-weight: 700;
}
.position {
  padding: 10px 0 20px 20px;
}
.position span {
  font-size: 24px;
}
.left-item-title {
  background-color: $title-back;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  width: 70%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 12px;
}
.left-item-title span {
  margin-left: 10px;
  color: #FFFFFF;
}
.about-me {
  padding: 10px 20px;
  background-color: #fff;

}
// .contact {
//   display: flex;
//   margin-top: 10px;
// }
.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px 10px 0;
  margin: 1px 0;
  /* box-shadow: 0 0 2px #fff; */
}
.site {
  margin-bottom: 10px;
}
.contact-ico {
  background-color: $title-back;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px;
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-ico fa-icon {

  font-size: 32px;
  color: #fff;
}

// .contact-description {
//   padding-left: 10px;
//   display: flex;
//   align-items: center;
// }
.contact-description {
  padding-left: 10px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  div {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.skills {
  margin-bottom: 20px;
}

.skill {
  margin-bottom: 10px;
}
.skill-top {
  display: flex;
  padding: 10px;
  span {
    margin-left: 20px;
  }
}

.cv-right {
  padding: 30px 0 20px 20px;
  width: 65%;
  box-shadow: 0 0 5px $back-grey;
}
.right-title {
  margin-top: 10px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-color: $back-grey;
  padding: 5px 0 5px 20px;
  display: flex;
  align-items: center;
}
.right-title span {
  font-size: 28px;
  font-weight: 700;

}
.right-items {
  margin-left: 20px;
  min-width: 30px;
  background-color: #fff;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0;
}

.btn-url {
  width: 120px;
  padding: 5px;
  margin: 0 5px;
  border: 1px solid $back-grey;
  border-radius: 5px;
}
a {
  background: $title-back;
  color: rgb(7, 6, 6);
  text-align: center;
  font-size: 18px;
}
a:hover {
  background: $back-grey;
  color: rgb(0, 0, 0);
}
.addBtn {
  margin: 10px 0 0 10px;
}

.right-item {
  margin: 10px 5px 20px;
  box-shadow: 0 0 5px $lightningColor;
  .item-top {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    .item-date,
    .item-info {
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px 0;
      }
    }
    .item-info {
      margin-left: 20px;
      input, textarea {
        width: 260px;
      }
      textarea {
        border: 1px solid $blurBackColor;
        border-radius: 5px;
      }

    }
  }
  .item-bottom {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
  }
}

////


