ul {
  list-style-type: none;
}

:host(.open-menu) {
  display: block;
  transition: all 0.3s ease;
  .menu-burger__side-bar {
    mat-icon {
      transform: rotate(0deg);
      transition: all 0.3s ease;
    }
  }
}
.menu-burger__side-bar {
  position: relative;
  z-index: 999;
  margin: 0 0 0 1rem;
  background-color: rgb(138, 146, 166);
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  // top: 2rem;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  @media (max-width: 768px) {
    margin: 0;
  }
  &:hover {
    cursor: pointer;
  }

  mat-icon {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2.4rem;
    vertical-align: middle;
    transform: rotate(180deg);
    transition: all 0.3s ease;
    color: #fff;
  }
}
